---
import Layout from "../layouts/Layout.astro";
import NavFija from "../components/NavFija.astro";
import Dropdown from "../components/Dropdown.astro";
import Footer from "../components/Footer.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Blog Economic Sales de Mexico">
    <!-- MENU -->
    <div class="barra">
        <!--<img src="#">  -->
    </div>
    <div class="nav-fija">
        <NavFija />
    </div>
    <div class="nav-pop">
        <Dropdown />
    </div>
    <!-- MENU -->
    <div class="boton-dark">
        <DarkMode />
    </div>
    <body>
        <div class="articulo">
            <h1>
                2004: Como la tecnología de hace 20 años aún hace mella en
                nosotros.
            </h1>
            <hr />
            <h2>
                Nuestra vida, no es la misma hoy a como lo fue hace 20 años, y
                la tecnología es la mejor forma de ver cuánto hemos cambiado.
            </h2>
            <div class="fecha">
                <p>Por Dany Arda - 06/Septiembre/24</p>
            </div>
            <p>
                Hoy hace <b>20 años</b>, una mañana después de tomar un pésimo café
                instantáneo de la máquina de uso gratuito de la empresa, un
                trabajador cualquiera, llegaba a su cubículo. Los escritorios
                estaban repletos de computadoras de escritorio con <b>monitores CRT
                de tamaño imponente</b>, que parpadeaban al encenderse y hacían
                ruidos simpáticos. El ratón y el teclado, aunque funcionales,
                aún eran dominados por cables que se enredaban a su alrededor.
                Las impresoras láser y las fotocopiadoras ocupaban un lugar
                destacado en las oficinas, ruidosas pero confiables en su tarea
                de reproducir documentos.
            </p>
            <div class="grupoimg">
                <div class="imagen">
                    <div class="imagen-1"></div>
                </div>
                <div class="imagen">
                    <div class="imagen-2"></div>
                </div>
            </div>
            
            <p>
                En aquel entonces, el <b>acceso a Internet era una mezcla de
                excitación y frustración</b>; las conexiones de banda ancha estaban
                ganando terreno, reemplazando gradualmente a los anticuados
                módems de marcación, pero aún había lugares donde el acceso
                seguía siendo lento y poco fiable. <b>Los correos electrónicos eran
                una herramienta esencial para la comunicación diaria</b>, y el uso
                de herramientas como Microsoft Outlook y Lotus Notes era común.
            </p>
            <p>
                Los <b>teléfonos móviles de 2004 eran significativamente diferentes
                de los dispositivos inteligentes que conocemos hoy</b>. La mayoría
                de los teléfonos eran modelos con teclados físicos y pantallas
                pequeñas, con capacidades limitadas para enviar mensajes de
                texto y realizar llamadas. Los primeros <b>smartphones estaban en
                sus etapas incipientes</b>, y los sistemas operativos móviles como
                el <b>Palm OS y el Windows Mobile</b> eran predominantes. Android no
                estaba ni cerca.
            </p>
            
            <div class="imagen">
                <div class="imagen-4"></div>
            </div>
            <p>
                Ese año fue sumamente emocionante con la popularización de
                productos que dejarían una huella duradera. <b>Apple lanzó el iPod</b>
                mini, un dispositivo que revolucionó la forma en que la gente
                escuchaba música, permitiendo almacenar miles de canciones en un
                formato compacto. Este lanzamiento marcó el comienzo de una era
                en la que la música digital se convirtió en una parte integral
                de la vida cotidiana. Tarde ese año, <b>Google presentó Gmail</b>, un
                servicio de correo electrónico que ofrecía una capacidad de
                almacenamiento sin precedentes, cambiando el estándar de cómo
                los usuarios gestionaban su correspondencia electrónica y
                allanando el camino para la nube y los servicios basados en web.
            </p>
            <p>
                Microsoft presentó <b>Windows XP</b>, un sistema operativo que se
                convirtió en uno de los más populares y duraderos en la historia
                de la informática, influyendo en el desarrollo de sistemas
                operativos posteriores. <b>El navegador web Mozilla Firefox</b> hizo su
                debut en <b>2004</b>, ofreciendo una alternativa robusta y segura a
                <b>Internet Explorer</b> y marcando el inicio de una nueva era en la
                navegación web.
            </p>
            <p>
                En el ámbito de los dispositivos móviles, el <b>Nokia 6600</b> fue uno
                de los teléfonos inteligentes más vendidos de su época,
                mostrando las primeras señales de la convergencia entre
                teléfonos y computadoras.<b> El Palm Treo, con su sistema operativo
                Palm OS</b>, también fue un precursor significativo de los
                smartphones modernos, <b>integrando funcionalidades de comunicación
                y productividad en un solo dispositivo.</b>
            </p>
            <div class="imagen">
                <div class="imagen-3"></div>
            </div>
            <p>
                Las <b>impresoras láser, como la HP LaserJet 1012</b>, continuaron
                dominando el mercado de impresión en oficinas, ofreciendo una
                combinación de velocidad y calidad que aún persiste en las
                impresoras modernas. En el mundo de los medios digitales, el
                <b>Adobe Photoshop CS, lanzado en 2004</b>, se consolidó como una
                herramienta esencial para el diseño gráfico y la edición de
                imágenes, influyendo en la industria del diseño hasta el día de
                hoy.
            </p>
            <p>
                Estas tecnologías no solo definieron su época, sino que también
                establecieron las bases para desarrollos futuros, impactando
                profundamente en la manera en que interactuamos con la
                tecnología en el presente. <b>Es probable que algún día escriba la
                segunda parte de este blog y les adelanto que se llamará “2024,
                como la tecnología de hace 20 años nos cambió para siempre”.</b>
            </p>
            <div class="imagen">
                <div class="imagen-5"></div>
            </div>
        </div>
    </body>
</Layout>
<Footer />

<style>
    body {
        margin: 0px;
        padding: 0px;
        background-image: url("../img/ruidoBackground.png");
        background-color: gainsboro;
    }
    .articulo {
        margin: auto;
        margin-top: 1em;
        background-color: whitesmoke;
        width: 75%;
        padding: 2em;
        border-radius: 0.5em;
        line-height: auto;
    }
    .grupoimg{
        display: flex;
        gap:15px;
        flex-flow: row;
    }
    .imagen-1 {
        width: 370px;
        height: 370px;
        background-image: url("../img/img-7/computers1.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        border-radius: 1em;
        
    }
    .imagen-2 {
        width: 370px;
        height: 370px;
        background-image: url("../img/img-7/computers2.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        border-radius: 1em;
    }
    .imagen-3 {
        width: 370px;
        height: 370px;
        background-image: url("../img/img-7/2000.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        border-radius: 1em;
    }
    .imagen-4 {
        width: 370px;
        height: 370px;
        background-image: url("../img/img-7/cellphones.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        border-radius: 1em;
    }
    .imagen-5 {
        width: 370px;
        height: 370px;
        background-image: url("../img/img-7/ipod.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        border-radius: 1em;
    }
    .remarcar {
        background-image: url("../img/ruidoBackground.png");
        background-color: lightskyblue;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 1em;
        border-radius: 1em;
        margin: 1em;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        /*background-color: #26007d;*/
        height: auto;
        overflow: none;
        flex-direction: row;
        border-radius: 1em;
    }
    .flex div {
        width: 450px;
        height: auto;
        margin: 20px;
        background-color: rgb(173, 230, 192);
        border-radius: 1em;
        padding: 2em;
        transition: transform 0.2s ease;
        background-image: url("../img/ruidoBackground.png");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: crosshair;
    }

    .flex div:hover {
        transform: scale(1.1);
        background-color: rgb(77, 225, 126);
    }
    body.dark .flex div {
        background-color: rgb(50, 0, 188);
        color: whitesmoke;
    }
    body.dark .articulo {
        background-color: rgb(12, 0, 78);
        /*background-image: url("../img/ruidoBackground.png");*/
    }
    .fecha {
        display: flex;
        flex-flow: row-reverse;
        flex-direction: end;
    }
    body.dark .fecha p {
        color: rgb(161, 161, 161);
    }
    p {
        font-weight: 500;
        line-height: 1.5em;
    }
    body.dark p {
        color: gainsboro;
    }
    h3 {
        font-size: 1.5em;
    }
    body.dark h3 {
        font-weight: 900;
        font-size: 1.5em;
    }
    h4 {
        font-weight: 900;
        font-size: 1.3em;
    }
    body.dark h4 {
        /*color: rgb(56, 166, 255);*/
        color: rgb(74, 174, 255);
    }
    body.dark h2 {
        color: gainsboro;
    }
    body.dark h1 {
        color: gainsboro;
    }
    body.dark b {
        /*color: rgb(168, 254, 225);*/
        /*color: aqua;*/
        color: rgb(140, 234, 255);
    }
    .imagen {
        width: 100%;
        height: 370px;
        /*background-color: rgb(51, 51, 51);*/
    }
    body.dark .imagen {
        /* background-color: rgb(240, 240, 240);*/
    }

    h3 {
        color: darkblue;
    }
    body.dark h3 {
        color: rgb(0, 208, 255);
    }
    /* MENU --------------------------------------*/

    .barra {
        display: none;
        width: 100%;
        /*background-color: rgb(0, 0, 175);*/
        background-color: gainsboro;
        height: 160px;
        text-align: center;
        padding-top: 1em;
        background-image: url("../img/Logo_ES_Post.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    /*.barra img {
        max-width: 95%;
        height: 200px;
    }*/
    .nav-pop {
        visibility: hidden;
    }
    @media (max-width: 750px) {
        .nav-fija {
            display: none;
        }
        .nav-pop {
            visibility: visible;
            width: 100%;
            background-color: rgba(0, 58, 159, 0.567);
        }
        .navs {
            visibility: visible;
        }
        .barra {
            display: block;
        }
    }
    @media (max-width: 470px) {
        .flex div {
            margin: 5px;
            margin-top: 30px;
            padding: 1em;
        }
        .flex div p {
            font-size: 0.9rem;
        }
    }
</style>
