---
import Layout from "../layouts/Layout.astro";
import NavFija from "../components/NavFija.astro";
import Dropdown from "../components/Dropdown.astro";
import Footer from "../components/Footer.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Blog Economic Sales de Mexico">
    <!-- MENU -->
    <div class="barra">
        <!--<img src="#">  -->
    </div>
    <div class="nav-fija">
        <NavFija />
    </div>
    <div class="nav-pop">
        <Dropdown />
    </div>
    <!-- MENU -->
    <div class="boton-dark">
        <DarkMode />
    </div>
    <body>
        <div class="articulo">
            <h1>Drones: Revolución en el Cielo</h1>
            <hr />
            <h2>
                En esta ocasión, en Economic Sales exploramos el impacto de los
                drones en diversas industrias, centrándose en su evolución desde
                simples juguetes hasta herramientas esenciales en el cine, el
                ámbito militar y el transporte. En la primera parte, se aborda
                qué son los drones, su popularidad creciente y los diversos usos
                que tienen en el mundo actual. En la segunda parte, se analiza
                cómo han revolucionado la cinematografía, cambiado las tácticas
                de guerra y transformado la logística con la entrega de
                paquetes. Además, se plantea un futuro lleno de posibilidades
                creativas, desde la construcción hasta la educación y la
                conservación ambiental.
            </h2>
            <div class="fecha">
                <p>Por Dany Arda - 30/Septiembre/24</p>
            </div>
            <h3>¿Qué son los drones y cómo han cambiado nuestra realidad?</h3>
            <p>
                En los últimos años, los drones han dejado de ser simples
                juguetes voladores para convertirse en herramientas esenciales
                en diversas industrias. Pero, <b>¿qué son exactamente? Los drones,
                o vehículos aéreos no tripulados (VANT)</b>, son aeronaves que
                pueden volar de manera autónoma o ser controladas a distancia.
                <b>Con su creciente popularidad, hoy en día podemos encontrarlos en
                manos de profesionales y aficionados por igual.</b>
            </p>
            <div class="imagen imagen-1"></div>
            <p>
                La historia de los <b>drones comienza en la década de 1910</b>, pero no
                fue hasta los últimos <b>20 años que su uso se masificó</b>. Con el
                avance de la tecnología y la reducción de costos, los drones se
                han vuelto <b>accesibles para una amplia variedad de personas,
                desde cineastas hasta agricultores</b>. Su uso ha evolucionado
                rápidamente; de ser herramientas militares, pasaron a ser
                aliados en la <b>cinematografía, la agricultura, la vigilancia, y
                más.</b>
            </p>
            <h3>Caracteristicas de los drones</h3>
            <p>
                Una de las características más atractivas de los drones es que
                cualquier persona con un poco de curiosidad y un par de horas de
                práctica puede aprender a usarlos. No es necesario ser un
                experto en aeronáutica. De hecho, <b>hay modelos de drones
                diseñados específicamente para principiantes</b>, lo que ha
                permitido que cada vez más personas se animen a volar. Esto ha
                llevado a un<b> auge en el uso recreativo y comercial de estas
                máquinas</b>, con aplicaciones que van desde la captura de imágenes
                aéreas hasta la entrega de productos.
            </p>
            <div class="imagen imagen-2"></div>
            <!-- parte 2 conceptos -->
            <h3>
                Algunos conceptos clave para entender a las tarjetas graficas
            </h3>
            <p>
                Entre los usos más comunes de los drones, destaca su papel en la
                <b>industria del cine</b>. Gracias a ellos, los cineastas pueden
                obtener tomas espectaculares desde ángulos que antes eran
                impensables, sin tener que recurrir a costosos equipos de
                filmación. Pero<b> su impacto no se limita al entretenimiento;</b> en
                el ámbito agrícola, los drones son utilizados para monitorear
                cultivos, evaluar el estado de la tierra y optimizar el riego.
                Esto no solo ahorra tiempo y recursos, sino que también permite
                a los agricultores tomar decisiones más informadas.
            </p>
            <div class="imagen imagen-3"></div>
            <p>
                En el <b>campo de la seguridad</b>, los drones están revolucionando la
                vigilancia. Su capacidad para acceder a áreas de difícil acceso
                y ofrecer imágenes en tiempo real ha sido un cambio de juego
                para las fuerzas de seguridad. Pero, como todo en la vida, <b>su
                uso también trae consigo desafíos, especialmente en términos de
                privacidad y regulaciones.</b>
            </p>
            <p>
                Finalmente, no podemos olvidar el uso militar de los drones, que
                ha sido el más conocido. Desde su implementación en misiones de
                reconocimiento hasta ataques aéreos precisos, estos vehículos
                han cambiado la forma en que se llevan a cabo las operaciones
                militares. Sin embargo, este aspecto genera un debate constante
                sobre la ética y las consecuencias de su uso.
            </p>
            <p>
                La <b>industria cinematográfica</b> ha sido una de las más beneficiadas
                por la llegada de los drones. Antes, obtener tomas aéreas
                requería helicópteros, grúas y un equipo costoso que estaba
                fuera del alcance de muchas producciones. Hoy, un cineasta puede
                capturar imágenes espectaculares simplemente volando un drone
                desde su smartphone. Películas como <b>Skyfall y The Avengers</b> han
                utilizado drones para crear secuencias impresionantes que
                muestran la acción desde <b>ángulos nunca antes vistos</b>. Además,
                estos dispositivos permiten explorar locaciones difíciles de
                alcanzar, abriendo nuevas posibilidades creativas. Esta
                democratización de la tecnología también ha hecho que cineastas
                independientes puedan contar sus historias con <b>calidad
                    cinematográfica</b>, fomentando una nueva ola de contenido
                    innovador.
                </p>
                <div class="imagen imagen-4"></div>
                <p>
                En el <b>ámbito militar</b>, el uso de drones ha cambiado radicalmente
                la forma en que se llevan a cabo las operaciones de combate.
                <b>Gracias a su capacidad de realizar misiones de reconocimiento y
                    ataques precisos</b>, han reducido la necesidad de desplegar tropas
                    en terreno hostil. Esto minimiza el riesgo para los soldados y
                    permite operaciones más estratégicas y eficientes. Sin embargo,
                    el uso militar de los drones plantea preguntas éticas, ya que
                    las decisiones sobre la vida y la muerte pueden depender de un
                    operador en una sala de control, lejos del conflicto. Esto ha
                    generado debates sobre la responsabilidad y el impacto de estas
                    tecnologías en la guerra moderna.
                </p>
            <p>
                Por otro lado, ya hemos visto cómo empresas como <b>Amazon</b> están
                explorando la entrega de paquetes mediante drones. Esta
                innovación promete acortar los tiempos de entrega y revolucionar
                la logística. Imaginemos un futuro en el que un <b>drone pueda
                llevar una medicina urgente a un área rural en minutos o
                entregar suministros a comunidades afectadas</b> por desastres
                naturales sin necesidad de carreteras.
            </p>
            <p>
                La capacidad de los drones para transformar industrias va más
                allá de lo que hemos mencionado. <b>Imaginemos drones que colaboran
                en la construcción, transportando materiales pesados a lugares
                de difícil acceso, o drones de limpieza que ayudan a limpiar
                océanos recolectando basura desde el aire. </b>También podríamos
                tener drones de monitoreo en el medio ambiente que supervisen la
                salud de nuestros bosques y cuerpos de agua, contribuyendo a la
                conservación del planeta. <b>En el ámbito de la educación, los
                drones podrían ofrecer clases interactivas sobre geografía y
                ciencias naturales, llevando a los estudiantes a explorar su
                entorno desde una perspectiva completamente nueva</b>.
            </p>
            <h3>
                Sin duda, los drones tienen el potencial de revolucionar casi
                cualquier sector. Su aplicación está apenas comenzando a
                despegar, y solo el tiempo dirá hasta dónde nos llevarán. Con
                creatividad y una regulación adecuada, podríamos estar ante un
                futuro en el que los drones no solo faciliten nuestras vidas,
                sino que también ayuden a construir un mundo más eficiente y
                conectado. Así que mantén los ojos en el cielo, porque lo mejor
                está por venir.
            </h3>
        </div>
        <Footer />

        <style>
            body {
                margin: 0px;
                padding: 0px;
                background-image: url("../img/ruidoBackground.png");
                background-color: gainsboro;
            }
            h1 {
                text-shadow:
                    1px 1px 0px rgb(32, 199, 255),
                    1px -1px 0px rgb(47, 32, 255),
                    -1px 1px 0px rgb(181, 32, 255);
            }
            .articulo {
                margin: auto;
                margin-top: 1em;
                background-color: whitesmoke;
                width: 75%;
                padding: 2em;
                border-radius: 0.5em;
                line-height: auto;
            }
            .custom {
                border: none; /* Elimina el borde predeterminado */
                /*  border-top: 2px dashed #00c6cd;*/
                border-top: 2px dashed #020077;
            }
            body.dark .custom {
                border-top: 2px dashed #0031a5;
            }
            .grupoimg {
                display: flex;
                gap: 15px;
                flex-flow: row;
            }
            /*  .remarcar {
                background-image: url("../img/ruidoBackground.png");
                background-color: lightskyblue;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding: 1em;
                border-radius: 1em;
                margin: 1em;
            }*/
            .imagen-1 {
                width: 95%;
                height: auto;
                background-image: url("../img/img-16/citydrone.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: auto;
                border-radius: 1em;
                background-color: #0031a5;
            }
            .imagen-2 {
                width: 100%;
                height: auto;
                background-image: url("../img/img-16/kidrone.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: auto;
                border-radius: 1em;
            }
            .imagen-3 {
                width: 95%;
                height: auto;
                background-image: url("../img/img-16/militardrone.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: auto;
                border-radius: 1em;
            }
            .imagen-4 {
                width: 100%;
                height: 370px;
                background-image: url("../img/img-16/mildrone2.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: auto;
                border-radius: 1em;
            }
               
       
        
            .remarcar {
                background-image: url("../img/ruidoBackground.png");
                background-color: lightskyblue;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding: 1em;
                border-radius: 1em;
                margin: 0.5em;
                box-shadow: 3px 3px 0 rgb(0, 3, 48);
                text-shadow: 2px 2px 5px rgb(106, 161, 255);
                text-align: center;
            }
            body.dark .remarcar {
                background-color: rgb(0, 142, 94);
                text-shadow: 2px 2px 5px rgb(9, 0, 24);
            }
            .flex {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                align-content: flex-start;
                width: 100%;
                /*background-color: #26007d;*/
                height: auto;
                overflow: none;
                flex-direction: row;
                border-radius: 1em;
            }
            .flex div {
                width: 450px;
                height: auto;
                margin: 20px;
                background-color: rgb(173, 230, 192);
                border-radius: 1em;
                padding: 2em;
                transition: transform 0.2s ease;
                background-image: url("../img/ruidoBackground.png");
                background-repeat: no-repeat;
                background-size: cover;
                cursor: crosshair;
            }

            .flex div:hover {
                transform: scale(1.1);
                background-color: rgb(77, 225, 126);
            }
            body.dark .flex div {
                background-color: rgb(50, 0, 188);
                color: whitesmoke;
            }
            body.dark .articulo {
                background-color: rgb(12, 0, 78);
                /*background-image: url("../img/ruidoBackground.png");*/
            }
            .fecha {
                display: flex;
                flex-flow: row-reverse;
                flex-direction: end;
            }
            body.dark .fecha p {
                color: rgb(161, 161, 161);
            }
            p {
                font-weight: 500;
                line-height: 1.6em;
                color: rgb(40, 40, 40);
            }
            body.dark p {
                color: gainsboro;
            }
            h3 {
                font-size: 1.5em;
            }
            body.dark h3 {
                font-weight: 900;
                font-size: 1.5em;
            }
            h4 {
                font-weight: 900;
                font-size: 1.3em;
            }
            body.dark h4 {
                /*color: rgb(56, 166, 255);*/
                color: rgb(74, 174, 255);
            }
            body.dark h2 {
                color: gainsboro;
            }
            body.dark h1 {
                color: gainsboro;
            }
            body.dark b {
                /*color: rgb(168, 254, 225);*/
                /*color: aqua;*/
                color: rgb(140, 234, 255);
            }
            .imagen {
                width: 100%;
                height: 370px;
                /*background-color: rgb(51, 51, 51);
            }
            body.dark .imagen {
                /* background-color: rgb(240, 240, 240);*/
            }
            h3 {
                color: darkblue;
            }
            body.dark h3 {
                color: rgb(0, 208, 255);
            }
            /* MENU --------------------------------------*/

            .barra {
                display: none;
                width: 100%;
                /*background-color: rgb(0, 0, 175);*/
                background-color: gainsboro;
                height: 160px;
                text-align: center;
                padding-top: 1em;
                background-image: url("../img/Logo_ES_Post.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            /*.barra img {
        max-width: 95%;
        height: 200px;
    }*/
            .nav-pop {
                visibility: hidden;
            }
            @media (max-width: 750px) {
                .nav-fija {
                    display: none;
                }
                .nav-pop {
                    visibility: visible;
                    width: 100%;
                    background-color: rgba(0, 58, 159, 0.567);
                }
                .navs {
                    visibility: visible;
                }
                .barra {
                    display: block;
                }
            }
            @media (max-width: 500px) {
                .imagen {
                    width: 100%;
                }
                .remarcar {
                    width: 90%;
                    font-size: 0.85em;
                }
            }
            @media (max-width: 470px) {
                .flex div {
                    margin: 5px;
                    margin-top: 30px;
                    padding: 1em;
                }
                .flex div p {
                    font-size: 0.9rem;
                }
            }
        </style>
    </body></Layout
>
