---
import Layout from "../layouts/Layout.astro";
import NavFija from "../components/NavFija.astro";
import Dropdown from "../components/Dropdown.astro";
import Footer from "../components/Footer.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Blog Economic Sales de Mexico">
    <!-- MENU -->
    <div class="barra">
        <!--<img src="#">  -->
    </div>
    <div class="nav-fija">
        <NavFija />
    </div>
    <div class="nav-pop">
        <Dropdown />
    </div>
    <!-- MENU -->
    <div class="boton-dark">
        <DarkMode />
    </div>
    <body>
        <div class="articulo">
            <h1>
                Sabor a Patria: Recetas Típicas para Festejar Nuestra
                Independencia 🟢⚪🔴
            </h1>
            <hr />
            <h2>
                El 15 y 16 de septiembre es una fecha muy especial para todos
                los mexicanos. Celebramos nuestra independencia con orgullo y
                fervor patriótico. Y qué mejor manera de festejar que con una
                deliciosa comida típica mexicana. En este artículo, te
                proponemos un menú lleno de sabor y tradición para conmemorar
                esta importante fecha. 🎆🎊
            </h2>
            <div class="fecha">
                <p>Por Mario Sanchez - 13/Septiembre/24</p>
            </div>

            <h3>La Gastronomía Mexicana: Un Patrimonio Cultural</h3><p>
                La importancia de la comida en nuestras tradiciones: Explica
                cómo la comida es un elemento fundamental en nuestras
                celebraciones y cómo refleja nuestra identidad cultural. o
                Ingredientes clave de la cocina mexicana: Menciona algunos de
                los ingredientes más representativos de nuestra gastronomía,
                como el maíz, el chile y el frijol.
            </p>
            <p></p>
            <div class="remarcar">
                <h3>Pozole</h3>
                <div class="imagen">
                    <div class="imagen-1"></div>
                </div>
                <p>
                    El pozole es uno de los platillos más representativos de
                    México, especialmente en las fiestas patrias. Existen
                    diferentes tipos de pozole (rojo, blanco y verde), cada uno
                    con su sabor y características particulares. Receta de
                    Pozole Rojo (versión básica):<br /><br />
                    <b>Ingredientes:</b><br />
                    o 1 kg de maíz pozolero<br />
                    o 1 kg de carne de cerdo (espaldilla o pierna)<br />
                    o 1 cebolla grande<br />
                    o 4 dientes de ajo<br />
                    o 10 chiles guajillos<br />
                    o 2 dientes de ajo<br />
                    o 1/2 cucharadita de orégano seco<br />
                    o Sal al gusto<br />
                    o Lechuga picada, cebolla morada picada, rábanos rebanados, limón
                    y tostadas para servir<br /><br />

                    <b>Preparación:</b><br /><br />

                    <b>1. Cocer el maíz y la carne: </b>En una olla grande,
                    coloca el maíz, la carne, la cebolla y el ajo. Cubre con
                    agua y cocina a fuego medio hasta que la carne esté suave y
                    el maíz esté cocido. <br /><br />

                    <b>2.Preparar la salsa:</b> Tuesta los chiles guajillos y los
                    2 dientes de ajo en un comal. Licúa los chiles con un poco de
                    agua de cocción, el ajo tostado y el orégano. <br /><br />

                    <b>3. Integrar la salsa:</b> Vierte la salsa al pozole y cocina
                    a fuego bajo durante 15 minutos más.<br /><br />

                    <b>4. Servir:</b> Deshebra la carne y sirve el pozole caliente
                    en platos hondos. Acompaña con lechuga, cebolla, rábanos, limón
                    y tostadas.<br /><br />

                    <b>Tips: </b>• Para un sabor más intenso, puedes agregar
                    otros chiles como ancho o pasilla. • Si quieres un pozole
                    más ligero, puedes usar carne de pollo o pavo. • Para un
                    toque extra de sabor, puedes agregar un poco de consomé de
                    pollo en polvo.
                </p>
            </div>

            <div class="remarcar">
                <h3>Tamales</h3>
                <div class="imagen">
                    <div class="imagen-2"></div>
                </div>
                <p>
                    Los tamales son un platillo muy versátil, ya que pueden
                    prepararse con una gran variedad de rellenos.<br />

                    Los ingredientes básicos para la masa son maíz
                    nixtamalizado, manteca y sal. Receta básica de masa para
                    tamales: <br /><br />

                    <b>Ingredientes:</b><br /><br />
                    o 1 kg de masa de maíz nixtamalizada <br />
                    o 1 taza de manteca o Sal al gusto<br /><br />

                    <b>Preparación:</b>
                    <br /><br />
                    <b>1. </b>En un recipiente grande, mezcla la masa, la
                    manteca y la sal. Amasa hasta obtener una masa suave y
                    homogénea. <br /><br />
                    <b>2.</b> Rellena las hojas de maíz con la masa y el relleno
                    de tu elección. <br /><br />
                    <b>3.</b> Cocina los tamales al vapor durante aproximadamente
                    45 minutos.<br /><br />
                    Rellenos populares para tamales: <br />
                    • Carne: Deshebrada de cerdo, pollo o res. <br />
                    • Mole: Mole poblano, verde o rojo.<br />
                    • Verduras: Espinacas, acelgas, calabacitas. • Dulces: Frutas,
                    pasas, piloncillo.
                </p>
            </div>
            <div class="remarcar">
                <h3>Chiles en Nogada</h3>
                <div class="imagen">
                    <div class="imagen-3"></div>
                </div>

                <p>
                    Los chiles en nogada son un platillo emblemático de Puebla y
                    una delicia para celebrar el 15 de septiembre. Receta básica
                    de chiles en nogada:<br /><br />
                    <b>Ingredientes:</b><br /><br />

                    o Chiles poblanos<br />
                    o Carne de cerdo picada<br />
                    o Pasas<br />
                    o Almendras<br />
                    o Piñones<br />
                    o Nogada (salsa a base de nueces de Castilla)<br />
                    o Granadas<br />
                    o Perejil<br /><br />

                    <b>Preparación:</b><br /><br />
                    1. Asa los chiles poblanos, pélalos y retira las semillas.<br
                    />
                    2. Sofríe la carne con la pasa, almendra y piñón. Rellena los
                    chiles.<br />
                    3. Baña los chiles con la nogada.<br />
                    4. Decora con granos de granada y perejil.<br /><br />

                    <b>Nogada:</b><br /><br />
                    • Ingredientes:<br />
                    o Nueces de Castilla<br />
                    o Queso fresco<br />
                    o Azúcar<br />
                    o Clavo<br />
                    o Canela<br />
                    o Leche<br /><br />

                    <b>Preparación:</b> Licúa todos los ingredientes hasta obtener
                    una salsa cremosa.
                </p>
            </div>

            <div class="remarcar">
                <h3>Mole Poblano</h3>
                <div class="imagen">
                    <div class="imagen-4"></div>
                </div>

                <p>
                    El mole poblano es considerado uno de los platos más
                    representativos de la gastronomía mexicana. Su sabor único
                    se debe a la combinación de chiles, especias, semillas,
                    frutos secos y chocolate. Aunque existen muchas variaciones
                    de este mole, la base siempre incluye una variedad de chiles
                    secos, como el ancho, mulato y pasilla, además de chocolate
                    amargo. Receta básica de mole poblano:<br /><br />

                    <b>Ingredientes: </b><br /><br />
                    • Chiles: Ancho, mulato, pasilla, chipotle (opcional) <br />
                    • Especias: Canela, clavo, pimienta negra, comino <br />
                    • Frutos secos: Almendras, nueces, cacahuates <br />
                    •Semillas: Ajonjolí, pepitas<br />
                    • Chocolate amargo <br />
                    • Pan de dulce (bolillo o telera) <br />
                    • Cebolla <br />• Ajo <br />• Tomate <br />• Caldo de pollo <br
                    />
                    •Manteca de cerdo <br /><br />

                    <b>Preparación: </b><br /><br />
                    <b>1. Tostar los chiles:</b> Asa los chiles en un comal hasta
                    que estén suaves y ligeramente quemados. <br /><br />

                    <b>2. Sofreír:</b> En una olla, sofríe la cebolla, el ajo y el
                    tomate hasta que estén suaves.<br /><br />

                    <b>3. Licuar:</b> Licúa los chiles junto con el sofrito, las
                    especias, los frutos secos, las semillas, el chocolate, el pan
                    de dulce y un poco de caldo de pollo hasta obtener una pasta
                    espesa.<br /><br />

                    <b>4. Cocer:</b> Vierte la pasta en una olla con el resto del
                    caldo de pollo y cocina a fuego bajo durante al menos 2 horas,
                    removiendo constantemente. <br /><br />
                    <b>5. Sazonar: </b>Ajusta el sabor con sal y más caldo si es
                    necesario. 6. Servir: Sirve el mole sobre pollo, pavo o
                    cualquier otra carne de tu preferencia.<br /><br />

                    <b>Consejos: </b><br />

                    <br />• Ingredientes frescos: Utiliza ingredientes frescos y
                    de buena calidad para obtener un mejor sabor. <br />
                    • Tostado: Tostar los chiles y las semillas realza sus sabores.
                    <br />
                    • Tiempo de cocción: El mole requiere de un tiempo de cocción
                    largo para que todos los sabores se mezclen y se desarrolle un
                    sabor complejo.<br />
                    • Variaciones: Puedes agregar otros ingredientes como plátano
                    macho, pasas o frutas secas para darle un toque personal a tu
                    mole.
                </p>
            </div>
            <h2>
                El 15 de septiembre es una ocasión perfecta para reunir a la
                familia y amigos y disfrutar de los sabores de México. Con este
                menú, podrás celebrar nuestra independencia de una manera
                auténtica y deliciosa. ¡Viva México! 🟢⚪🔴
            <h2>
        </div>
    </body>
</Layout>
<Footer />

<style>
    body {
        margin: 0px;
        padding: 0px;
        background-image: url("../img/ruidoBackground.png");
        background-color: gainsboro;
    }
    .articulo {
        margin: auto;
        margin-top: 1em;
        background-color: whitesmoke;
        width: 75%;
        padding: 2em;
        border-radius: 0.5em;
        line-height: auto;
    }
    .grupoimg {
        display: flex;
        gap: 15px;
        flex-flow: row;
    }
    .remarcar {
        background-image: url("../img/ruidoBackground.png");
        background-color: lightskyblue;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 1em;
        border-radius: 1em;
        margin: 1em;
    }
    body.dark .remarcar {
        background-color: rgb(0, 142, 94);
    }
    .imagen-1 {
        width: 370px;
        height: 370px;
        background-image: url("../img/img-12/pozole.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        border-radius: 1em;
    }
    .imagen-2 {
        width: 370px;
        height: 370px;
        background-image: url("../img/img-12/tamales.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        border-radius: 1em;
    }
    .imagen-3 {
        width: 370px;
        height: 370px;
        background-image: url("../img/img-12/chile.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        border-radius: 1em;
    }
    .imagen-4 {
        width: 370px;
        height: 370px;
        background-image: url("../img/img-12/mole.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        border-radius: 1em;
    }
    .remarcar {
        background-image: url("../img/ruidoBackground.png");
        background-color: lightskyblue;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 1em;
        border-radius: 1em;
        margin: 1em;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        /*background-color: #26007d;*/
        height: auto;
        overflow: none;
        flex-direction: row;
        border-radius: 1em;
    }
    .flex div {
        width: 450px;
        height: auto;
        margin: 20px;
        background-color: rgb(173, 230, 192);
        border-radius: 1em;
        padding: 2em;
        transition: transform 0.2s ease;
        background-image: url("../img/ruidoBackground.png");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: crosshair;
    }

    .flex div:hover {
        transform: scale(1.1);
        background-color: rgb(77, 225, 126);
    }
    body.dark .flex div {
        background-color: rgb(50, 0, 188);
        color: whitesmoke;
    }
    body.dark .articulo {
        background-color: rgb(12, 0, 78);
        /*background-image: url("../img/ruidoBackground.png");*/
    }
    .fecha {
        display: flex;
        flex-flow: row-reverse;
        flex-direction: end;
    }
    body.dark .fecha p {
        color: rgb(161, 161, 161);
    }
    p {
        font-weight: 500;
        line-height: 1.5em;
    }
    body.dark p {
        color: gainsboro;
    }
    h3 {
        font-size: 1.5em;
    }
    body.dark h3 {
        font-weight: 900;
        font-size: 1.5em;
    }
    h4 {
        font-weight: 900;
        font-size: 1.3em;
    }
    body.dark h4 {
        /*color: rgb(56, 166, 255);*/
        color: rgb(74, 174, 255);
    }
    body.dark h2 {
        color: gainsboro;
    }
    body.dark h1 {
        color: gainsboro;
    }
    body.dark b {
        /*color: rgb(168, 254, 225);*/
        /*color: aqua;*/
        color: rgb(140, 234, 255);
    }
    .imagen {
        width: 100%;
        height: 370px;
        /*background-color: rgb(51, 51, 51);*/
    }
    body.dark .imagen {
        /* background-color: rgb(240, 240, 240);*/
    }

    h3 {
        color: darkblue;
    }
    body.dark h3 {
        color: rgb(0, 208, 255);
    }
    /* MENU --------------------------------------*/

    .barra {
        display: none;
        width: 100%;
        /*background-color: rgb(0, 0, 175);*/
        background-color: gainsboro;
        height: 160px;
        text-align: center;
        padding-top: 1em;
        background-image: url("../img/Logo_ES_Post.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    /*.barra img {
        max-width: 95%;
        height: 200px;
    }*/
    .nav-pop {
        visibility: hidden;
    }
    @media (max-width: 750px) {
        .nav-fija {
            display: none;
        }
        .nav-pop {
            visibility: visible;
            width: 100%;
            background-color: rgba(0, 58, 159, 0.567);
        }
        .navs {
            visibility: visible;
        }
        .barra {
            display: block;
        }
    }
    @media (max-width: 470px) {
        .flex div {
            margin: 5px;
            margin-top: 30px;
            padding: 1em;
        }
        .flex div p {
            font-size: 0.9rem;
        }
    }
</style>
