---
import Layout from "../layouts/Layout.astro";
import NavFija from "../components/NavFija.astro";
import Dropdown from "../components/Dropdown.astro";
import Footer from "../components/Footer.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Blog Economic Sales de Mexico">
    <!-- MENU -->
    <div class="barra">
        <!--<img src="#">  -->
    </div>
    <div class="nav-fija">
        <NavFija />
    </div>
    <div class="nav-pop">
        <Dropdown />
    </div>
    <!-- MENU -->
    <div class="boton-dark">
        <DarkMode />
    </div>
    <body>
        <div class="articulo">
            <h1>
                Generando el futuro: Un análisis de Gemini, ChatGPT y Meta IA
            </h1>
            <hr />
            <h2>
                En esencia, la IA busca crear máquinas capaces de realizar
                tareas que normalmente requerirían inteligencia humana.
            </h2>
            <div class="fecha">
                <p>Por Mario Sanchez - 21/Octubre/24</p>
            </div>

            <div class="imagen imagen-1"></div>
            <h3>Definicion Inteligencia Artificial</h3>
            <p>
                La inteligencia artificial (IA) es la simulación de procesos de
                inteligencia humana por parte de máquinas, especialmente
                sistemas informáticos. Estos procesos incluyen el aprendizaje
                (la adquisición de información y reglas para el uso de la
                información), el razonamiento (el uso de reglas para llegar a
                conclusiones aproximadas o definitivas) y la autocorrección.
            </p>
            <h3>Breve historia de la evolución de la IA</h3>
            <p>
                La historia de la IA se remonta a la década de 1950, cuando un
                grupo de científicos se reunió en la Conferencia de Dartmouth
                para discutir la posibilidad de crear máquinas inteligentes.
                Desde entonces, la IA ha experimentado altibajos, conocidos como
                "inviernos de la IA", pero en las últimas décadas ha
                experimentado un renacimiento gracias a avances en el poder
                computacional y la disponibilidad de grandes cantidades de
                datos.
            </p>
            <div class="remarcar">
                <p>
                    • 1956: Conferencia de Dartmouth, donde se acuña el término
                    "inteligencia artificial".
                </p>
            </div>
            <div class="remarcar">
                <p>
                    • Décadas de 1960 y 1970: Primeros programas de IA capaces
                    de resolver problemas simples y jugar juegos.
                </p>
            </div>
            <div class="remarcar">
                <p>
                    • Décadas de 1980 y 1990: Desarrollo de sistemas expertos y
                    redes neuronales artificiales.
                </p>
            </div>
            <div class="remarcar">
                <p>
                    • Década de 2010: Surgimiento del aprendizaje profundo y
                    grandes avances en el reconocimiento de imágenes y el
                    procesamiento del lenguaje natural.
                </p>
            </div>
            <div class="remarcar">
                <p>
                    • Actualidad: Dominio de la IA en diversas áreas como la
                    salud, la finanzas, el transporte y el entretenimiento.
                </p>
            </div>
            <div class="imagen imagen-2"></div>
            <h3>Importancia de las IA en el mundo actual</h3>
            <p>
                La IA se ha convertido en una tecnología transformadora que está
                cambiando la forma en que vivimos y trabajamos. Sus aplicaciones
                son prácticamente ilimitadas y abarcan desde la automatización
                de tareas rutinarias hasta la creación de nuevos productos y
                servicios.
            </p>
            <h2>
                Algunas de las áreas donde la IA tiene un impacto significativo
                son:
            </h2>
            <p>
                <b> • Salud:</b> Diagnóstico de enfermedades, desarrollo de nuevos
                fármacos, personalización de tratamientos. <br /><br />

                <b>• Finanzas:</b> Detección de fraudes, análisis de riesgos, gestión
                de inversiones. <br /><br />

                <b>• Transporte:</b> Vehículos autónomos, optimización de rutas,
                logística. <br /><br />

                <b>• Educación:</b> Personalización del aprendizaje, tutoría virtual.
                <br /><br />

                <b>• Entretenimiento: </b>Juegos, generación de contenido
                creativo.
            </p>
            <div class="imagen imagen-3"></div>
            <h3>Presentación de las 3 IA más populares y su impacto</h3>
            <p>
                En este artículo, nos centraremos en tres de las inteligencias
                artificiales más populares y disruptivas de la actualidad:
                Gemini, ChatGPT y Meta IA. Exploraremos sus capacidades,
                aplicaciones y el impacto que están teniendo en diversos
                sectores.
            </p>
            <hr />
            <h3>Gemini</h3>
            <div class="gemini"></div>
            <p>
                Desarrollada por Google AI, Gemini se destaca por su
                versatilidad y capacidad de comprender y generar información
                compleja. Algunas de sus capacidades más notables incluyen:
            </p>
            <p>
                <b> • Comprensión profunda del lenguaje:</b> Gemini puede entender
                el significado de textos complejos, incluyendo conceptos abstractos
                y lenguaje figurado. Esto le permite realizar tareas como resumir
                artículos largos, responder preguntas de manera informativa y generar
                textos creativos.<br /><br />

                <b>• Razonamiento complejo:</b>
                Puede realizar inferencias lógicas a partir de grandes cantidades
                de información, resolver problemas matemáticos y tomar decisiones
                basadas en datos. <br /><br />

                <b> • Multimodalidad:</b> Gemini puede procesar y generar diferentes
                tipos de datos, como texto, imágenes y código. Esto le permite realizar
                tareas como describir imágenes, generar código a partir de descripciones
                textuales y traducir idiomas. <br /><br />

                <b>• Aprendizaje continuo:</b> Gemini está diseñado para aprender
                continuamente a partir de nuevas experiencias y datos, lo que le
                permite mejorar su rendimiento con el tiempo.
            </p>
            <hr />
            <h3>ChatGPT</h3>
            <div class="chatgpt"></div>
            <p>
                Desarrollada por OpenAI, ChatGPT se ha vuelto muy popular por su
                capacidad para generar texto humano de alta calidad. Algunas de
                sus capacidades clave incluyen:
            </p>
            <p>
                <b>• Generación de texto creativo: </b>ChatGPT puede escribir
                poemas, guiones, código, correos electrónicos, cartas,
                canciones, scripts, códigos, artículos de blog, etc.<br /><br />

                <b>• Traducción de idiomas:</b> Puede traducir idiomas de forma precisa
                y natural. <br /><br />

                <b> • Resumen de texto:</b> Puede tomar largos trozos de texto y
                resumir las ideas principales. <br /><br />

                <b>• Respuesta a preguntas:</b> Puede responder a tus preguntas de
                una manera informativa.
            </p>
            <hr />
            <h3>Meta IA</h3>
            <div class="meta"></div>
            <p>
                Meta IA, desarrollada por Meta (antes Facebook), se enfoca
                principalmente en la generación de contenido visual. Sus
                capacidades incluyen:
            </p>
            <p>
                <b> • Generación de imágenes:</b> Puede crear imágenes realistas
                y originales a partir de descripciones textuales.<br /><br />

                <b> • Edición de imágenes:</b> Puede modificar imágenes existentes,
                como cambiar el estilo, el color o el contenido. <br /><br />

                <b>• Generación de videos:</b> Puede crear videos cortos a partir
                de descripciones textuales.
            </p>
            <h3>
                En conclusion: <br><br />
                Gemini es una IA muy versátil con una
                capacidad excepcional para comprender y generar información
                compleja.<br /><br />
                ChatGPT es excelente para generar texto humano de alta calidad y
                mantener conversaciones naturales. <br /><br />Meta IA se
                destaca en la generación de contenido visual realista y
                creativo.
            </h3>
            <hr />
        </div>
        <Footer />
        <style>
            body {
                margin: 0px;
                padding: 0px;
                background-image: url("../img/ruidoBackground.png");
                background-color: gainsboro;
            }
            h1 {
                text-shadow:
                    1px 1px 0px rgb(32, 199, 255),
                    1px -1px 0px rgb(47, 32, 255),
                    -1px 1px 0px rgb(181, 32, 255);
            }
            .articulo {
                margin: auto;
                margin-top: 1em;
                background-color: whitesmoke;
                width: 75%;
                padding: 2em;
                border-radius: 0.5em;
                line-height: auto;
            }
            .custom {
                border: none; /* Elimina el borde predeterminado */
                /*  border-top: 2px dashed #00c6cd;*/
                border-top: 2px dashed #020077;
            }
            body.dark .custom {
                border-top: 2px dashed #0031a5;
            }
            .grupoimg {
                display: flex;
                gap: 15px;
                flex-flow: row;
            }
            /*  .remarcar {
                background-image: url("../img/ruidoBackground.png");
                background-color: lightskyblue;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding: 1em;
                border-radius: 1em;
                margin: 1em;
            }*/
            .imagen-1 {
                width: 90%;
                height: 380px;
                background-image: url("../img/img-20/img-22/ias1.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: auto;
                border-radius: 1em;
                background-color: #0031a5;
            }
            .imagen-2 {
                width: 50%;
                height: 350px;
                background-image: url("../img/img-20/img-22/ias2.jpg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: auto;
                transition: 0.3s ease-in-out;
            }
            .imagen-2:hover {
                transform: scale(1.3);
            }
            .imagen-3 {
                width: 95%;
                height: 350px;
                background-image: url("../img/img-20/img-22/ias3.jpg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: auto;
                border-radius: 1em;
                transition: 0.3s ease-in-out;
            }
            .imagen-3:hover {
                transform: scale(1.3);
            }
            .gemini{
                width: 100%;
                height: 200px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 3em;
                background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/45/Gemini_language_model_logo.png');
            }
            .chatgpt{
                width: 100%;
                height: 200px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 3em;
                background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/04/ChatGPT_logo.svg');
            }
            .meta{
                width: 100%;
                height: 200px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 3em;
                background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b1/Meta_AI_logo.png');
            }

            .remarcar {
                background-image: url("../img/ruidoBackground.png");
                background-color: lightskyblue;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding: 1em;
                border-radius: 1em;
                margin: 0.5em;
                box-shadow: 3px 3px 0 rgb(0, 3, 48);
                text-shadow: 2px 2px 5px rgb(106, 161, 255);
                text-align: center;
            }
            body.dark .remarcar {
                background-color: rgb(0, 142, 94);
                text-shadow: 2px 2px 5px rgb(9, 0, 24);
            }
            .flex {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                align-content: flex-start;
                width: 100%;
                /*background-color: #26007d;*/
                height: auto;
                overflow: none;
                flex-direction: row;
                border-radius: 1em;
            }
            .flex div {
                width: 450px;
                height: auto;
                margin: 20px;
                background-color: rgb(173, 230, 192);
                border-radius: 1em;
                padding: 2em;
                transition: transform 0.2s ease;
                background-image: url("../img/ruidoBackground.png");
                background-repeat: no-repeat;
                background-size: cover;
                cursor: crosshair;
            }

            .flex div:hover {
                transform: scale(1.1);
                background-color: rgb(77, 225, 126);
            }
            body.dark .flex div {
                background-color: rgb(50, 0, 188);
                color: whitesmoke;
            }
            body.dark .articulo {
                background-color: rgb(12, 0, 78);
                /*background-image: url("../img/ruidoBackground.png");*/
            }
            .fecha {
                display: flex;
                flex-flow: row-reverse;
                flex-direction: end;
            }
            body.dark .fecha p {
                color: rgb(161, 161, 161);
            }
            p {
                font-weight: 500;
                line-height: 1.6em;
                color: rgb(40, 40, 40);
            }
            body.dark p {
                color: gainsboro;
            }
            h3 {
                font-size: 1.5em;
            }
            body.dark h3 {
                font-weight: 900;
                font-size: 1.5em;
            }
            h4 {
                font-weight: 900;
                font-size: 1.3em;
            }
            body.dark h4 {
                /*color: rgb(56, 166, 255);*/
                color: rgb(74, 174, 255);
            }
            body.dark h2 {
                color: gainsboro;
            }
            body.dark h1 {
                color: gainsboro;
            }
            body.dark b {
                /*color: rgb(168, 254, 225);*/
                /*color: aqua;*/
                color: rgb(140, 234, 255);
            }
            /*  .imagen {
                width: 100%;
                height: 370px;
                /*background-color: rgb(51, 51, 51);
            }
            body.dark .imagen {
                /* background-color: rgb(240, 240, 240);
            }*/
            h3 {
                color: darkblue;
            }
            body.dark h3 {
                color: rgb(0, 208, 255);
            }
            /* MENU --------------------------------------*/

            .barra {
                display: none;
                width: 100%;
                /*background-color: rgb(0, 0, 175);*/
                background-color: gainsboro;
                height: 160px;
                text-align: center;
                padding-top: 1em;
                background-image: url("../img/Logo_ES_Post.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            /*.barra img {
        max-width: 95%;
        height: 200px;
    }*/
            .nav-pop {
                visibility: hidden;
            }
            @media (max-width: 750px) {
                .nav-fija {
                    display: none;
                }
                .nav-pop {
                    visibility: visible;
                    width: 100%;
                    background-color: rgba(0, 58, 159, 0.567);
                }
                .navs {
                    visibility: visible;
                }
                .barra {
                    display: block;
                }
            }
            @media (max-width: 500px) {
                .imagen {
                    width: 100%;
                }
                .remarcar {
                    width: 90%;
                    font-size: 0.85em;
                }
            }
        </style>
    </body></Layout
>
