---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Entradas from "../components/Entradas.astro";
import Imagen1 from "../assets/img/cover-48.jpg";
import { Image } from "astro:assets";
import NavFija from "../components/NavFija.astro";
import Dropdown from "../components/Dropdown.astro";
import Footer from "../components/Footer.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Blog Economic Sales de Mexico">
	<body>
		<!-- MENU -->
		<div class="barra">
			<!--<img src="#">  -->
		</div>
		<div class="nav-fija">
			<NavFija />
		</div>
		<div class="nav-pop">
			<Dropdown />
		</div>
		<!-- MENU -->
		<div class="boton-dark">
			<DarkMode />
		</div>
		<main>
			<!--<h1>BLOG <span class="text-gradient"> ECONOMIC SALES</span></h1> -->
			<!-- <ul role="list" class="link-card-grid">-->
				<div class="box">
					<div class="texto">
						<Entradas
							href="/veintiuno"
							titulo="쯈u칠 tan vulnerable eres para ser hackeado? "
							fecha="17/10/24"
							autor="Dany Arda"
							descripcion="En la era digital, la seguridad de nuestros datos personales es m치s importante que nunca. Cada vez m치s, escuchamos sobre violaciones de datos y ciberataques que comprometen informaci칩n sensible. Pero, 쯤u칠 tan vulnerables somos realmente? Y, lo m치s importante, 쯖칩mo podemos protegernos? Aqu칤 te ofrecemos un an치lisis sobre la vulnerabilidad y consejos pr치cticos para mantener tus datos seguros."
						/>
					</div>
					<a href="/veintiuno">
						<div class="img">
							<div class="imagen21"></div>
						</div>
					</a>
				</div>
				<hr class="custom" />
				<hr class="custom" />
			<!-- veintiuno 21 -->
			<div class="box">
				<div class="texto">
					<Entradas
						href="/veinte"
						titulo="Explorando el mundo de la computaci칩n cu치ntica"
						fecha="15/10/24"
						autor="Andrea Zenteno"
						descripcion="Imaginemos un mundo donde las computadoras pueden resolver problemas que hoy en d칤a son considerados imposibles. Un mundo donde los medicamentos se dise침an en cuesti칩n de d칤as y donde la criptograf칤a actual se vuelve obsoleta. Este futuro podr칤a estar m치s cerca de lo que pensamos gracias a la computaci칩n cu치ntica."
					/>
				</div>
				<a href="/veinte">
					<div class="img">
						<div class="imagen20"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />
			 <!-- veinte -->
			<div class="box">
				<div class="texto">
					<Entradas
						href="/diesinueve"
						titulo="쯆bsoletos o Vanguardistas? El uso de los beepers y walkie talkies en 2024"
						fecha="09/10/24"
						autor="Dany Arda"
						descripcion="Economic Sales explora la relevancia de los beepers y walkie talkies en 2024, desafiando la percepci칩n de que son dispositivos obsoletos. A pesar de la predominancia de smartphones y aplicaciones digitales, estos dispositivos siguen siendo esenciales en sectores cr칤ticos como la medicina y la seguridad. "
					/>
				</div>
				<a href="/diesinueve">
					<div class="img">
						<div class="imagen19"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />

			<!-- diesinueve -->
			<div class="box">
				<div class="texto">
					<Entradas
						href="/diesiocho"
						titulo="M치s all치 de las computadoras: Un vistazo al futuro lejano de la tecnolog칤a"
						fecha="08/10/24"
						autor="Andrea Zenteno"
						descripcion="Hemos explorado las tendencias tecnol칩gicas m치s prometedoras para el corto y mediano plazo, pero 쯤u칠 nos deparar치 el futuro lejano? Imaginemos un mundo donde la tecnolog칤a ha trascendido nuestras expectativas actuales y ha dado lugar a innovaciones radicalmente nuevas."
					/>
				</div>
				<a href="/diesiocho">
					<div class="img">
						<div class="imagen18"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />

			<!-- diesiocho -->
			<div class="box">
				<div class="texto">
					<Entradas
						href="/diesisiete"
						titulo="Smartwatches: Tu mu침eca, tu centro de control"
						fecha="03/10/24"
						autor="Mario Sanchez"
						descripcion="Los smartwatches han revolucionado la forma en que interactuamos con la tecnolog칤a. Ya no es necesario sacar el tel칠fono del bolsillo para cada notificaci칩n. Estos peque침os dispositivos, que llevamos puestos en la mu침eca, nos ofrecen una amplia gama de funciones que simplifican nuestra vida y nos mantienen conectados. "
					/>
				</div>
				<a href="/diesisiete">
					<div class="img">
						<div class="imagen17"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />

			<!-- diesisiete -->
			<div class="box">
				<div class="texto">
					<Entradas
						href="/diesiseis"
						titulo="Drones: Revoluci칩n en el Cielo "
						fecha="30/09/24"
						autor="Dany Arda"
						descripcion="En esta ocasi칩n, en Economic Sales exploramos el impacto de los drones en diversas industrias, centr치ndose en su evoluci칩n desde simples juguetes hasta herramientas esenciales en el cine, el 치mbito militar y el transporte. En la primera parte, se aborda qu칠 son los drones, su popularidad creciente y los diversos usos que tienen en el mundo actual. En la segunda parte, se analiza c칩mo han revolucionado la cinematograf칤a, cambiado las t치cticas de guerra y transformado la log칤stica con la entrega de paquetes.  "
					/>
				</div>
				<a href="/diesiseis">
					<div class="img">
						<div class="imagen16"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />
			<!-- diesiseis -->
			<div class="box">
				<div class="texto">
					<Entradas
						href="/quince"
						titulo="Revoluciona tus gr치ficos: Gu칤a completa de tarjetas gr치ficas "
						fecha="26/09/24"
						autor="Mario Sanchez"
						descripcion="En esta guia entenderas el funcionamiento de una tarjeta grafica, como funciona y porque es importante en nuestra computadora"
					/>
				</div>
				<a href="/quince">
					<div class="img">
						<div class="imagen15"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />
			<!-- quince -->
			<div class="box">
				<div class="texto">
					<Entradas
						href="/catorce"
						titulo="춰La IA al rescate! C칩mo superarte con inteligencia artificial "
						fecha="23/09/24"
						autor="Andrea Zenteno"
						descripcion="쯊e sientes abrumado por la cantidad de tareas diarias? 쯊e gustar칤a ser m치s productivo sin sacrificar tu tiempo libre? 춰La inteligencia artificial puede ser tu mejor aliada!"
					/>
				</div>
				<a href="/catorce">
					<div class="img">
						<div class="imagen14"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />
			<!-- catorce -->
			<div class="box">
				<div class="texto">
					<Entradas
						href="/trece"
						titulo="쯁URASSIC PARK, realidad o ficci칩n? "
						fecha="19/09/24"
						autor="Andrea Zenteno"
						descripcion="쯈ui칠n no ha so침ado alguna vez con ver un dinosaurio en vivo y en directo? Gracias a la saga cinematogr치fica de Jurassic Park, la idea de clonar dinosaurios a partir de ADN extra칤do de mosquitos fosilizados en 치mbar se ha arraigado en nuestro imaginario colectivo. Pero, 쯤u칠 tan cerca estamos de hacer realidad esta fantas칤a cient칤fica?"
					/>
				</div>
				<a href="/trece">
					<div class="img">
						<div class="imagen13"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />
			<!-- entrada 13 -->
			<div class="box">
				<div class="texto">
					<Entradas
						href="./doce"
						titulo="Sabor a Patria: Recetas T칤picas para Festejar Nuestra Independencia"
						fecha="13/09/24"
						autor="Mario Sanchez"
						descripcion="El 15 y 16 de septiembre es una fecha muy especial para todos los mexicanos. Celebramos nuestra independencia con orgullo y fervor patri칩tico. Y qu칠 mejor manera de festejar que con una deliciosa comida t칤pica mexicana. En este art칤culo, te proponemos un men칰 lleno de sabor y tradici칩n para conmemorar esta importante fecha. "
					/>
				</div>
				<a href="/doce">
					<div class="img">
						<div class="imagen12"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />
			<!-- entrada 12 -->
			<div class="box">
				<div class="texto">
					<Entradas
						href="./once"
						titulo="CODIFICANDO LA MENTE: DESENTRA칌ANDO EL FUTURO DE LA MEMORIA Y LA CONCIENCA"
						fecha="09/09/24"
						autor="Andrea Zenteno"
						descripcion="쯀maginas un futuro donde tus recuerdos, tus experiencias y tu personalidad puedan ser almacenados en una nube digital? 쯋n futuro donde la muerte ya no sea el fin, sino una transici칩n a una existencia digital? Esta idea, que hasta hace poco parec칤a propia de la ciencia ficci칩n, est치 cada vez m치s cerca de convertirse en realidad gracias a los avances en neurociencia y tecnolog칤a. "
					/>
				</div>
				<a href="/once">
					<div class="img">
						<div class="imagen11"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />

			<div class="box">
				<div class="texto">
					<Entradas
						href="./decimo"
						titulo=" 2004: Como la tecnolog칤a de hace 20 a침os a칰n hace mella en nosotros."
						fecha="06/09/24"
						autor="Dany Arda"
						descripcion=" Nuestra vida, no es la misma hoy a como lo fue hace 20 a침os, y la tecnolog칤a es la mejor forma de ver cu치nto hemos cambiado. "
					/>
				</div>
				<a href="/decimo">
					<div class="img">
						<div class="imagen10"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />

			<div class="box">
				<div class="texto">
					<Entradas
						href="./septimo"
						titulo=" ECOTECNOLOGIA: CUANDO LA TECNOLOGIA Y EL PLANETA SE UNEN"
						fecha="04/09/24"
						autor="Mario S치nchez"
						descripcion=" La tecnolog칤a, un motor de innovaci칩n constante, est치 experimentando una transformaci칩n profunda. Cada vez m치s empresas tecnol칩gicas est치n integrando pr치cticas sostenibles en sus procesos de producci칩n y dise침o de productos. "
					/>
				</div>
				<a href="/septimo">
					<div class="img">
						<div class="imagen8"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />

			<div class="box">
				<div class="texto">
					<Entradas
						href="./sexto"
						titulo="UN MUNDO ASFIXIADO. EL PROBLEMA DE LA BASURA"
						fecha="2/09/24"
						autor="Andrea Zenteno"
						descripcion="Recuerdas la desoladora imagen de la Tierra en Wall-E, completamente cubierta de basura? Aquella visi칩n futurista, que en su momento nos pareci칩 exagerada, hoy se nos presenta como una posible realidad si no tomamos medidas urgentes."
					/>
				</div>
				<a href="/sexto">
					<div class="img">
						<div class="imagen7"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />

			<div class="box">
				<div class="texto">
					<Entradas
						href="./quinto"
						titulo="TECNOESTR칄S: UNA MIRADA A LOS DESAFI칍S DEL MUNDO DIGITAL"
						fecha="27/08/24"
						autor="Dany Arda"
						descripcion="El tecnoestr칠s es el estr칠s causado por el uso excesivo y la dependencia de la tecnolog칤a digital, afectando tanto la salud mental como f칤sica.Para mitigarlo, es crucial establecer l칤mites en el uso de tecnolog칤a, promover el autocuidado y crear un equilibrio entre la vida laboral y personal."
					/>
				</div>
				<a href="/quinto">
					<div class="img">
						<div class="imagen6"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />

			<div class="box">
				<div class="texto">
					<Entradas
						href="./cuarto"
						titulo=" SERVICIOS DE ALMACENAMIENTO EN LA NUBE"
						fecha="12/08/24"
						autor="Juan S치nchez"
						descripcion="La posibilidad de guardar archivos de manera segura y accesible desde cualquier dispositivo es una necesidad en la era digital. Aqu칤 te presento siete servicios de almacenamiento en la nube, con opciones tanto gratuitas como premium, que te permiten alojar y gestionar tus archivos de manera eficiente. "
					/>
				</div>
				<a href="./cuarto">
					<div class="img">
						<div class="imagen5"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />
			<div class="box">
				<div class="texto">
					<Entradas
						href="./tercero"
						titulo=" JUEGOS OL칈MPICOS DE PAR칈S 2024!游볟游볞游볠"
						fecha="05/08/24"
						autor="Juan S치nchez"
						descripcion="En Economic Sales, sabemos que nuestros clientes son apasionados por la tecnolog칤a y el deporte. Por eso, queremos compartir contigo las 칰ltimas novedades que har치n de tu experiencia ol칤mpica algo inolvidable "
					/>
				</div>
				<a href="/tercero">
					<div class="img">
						<div class="imagen4"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />
			<!--<div class="botoon"><a href="/primero">Litio</a></div> -->
			<div class="box">
				<div class="texto">
					<Entradas
						href="/primero"
						titulo="EL LITIO Y SUS ALTERNATIVAS PARA EL FUTURO"
						fecha="30/07/24"
						autor="Dany Arda"
						descripcion="El litio ha sido el rey de las bater칤as recargables durante d칠cadas, impulsando todo, desde nuestros tel칠fonos inteligentes hasta los veh칤culos el칠ctricos. Sin embargo, la dependencia del litio no est치 exenta de riesgos. "
					/>
				</div>
				<a href="/primero">
					<div class="img">
						<div class="imagen2"></div>
					</div>
				</a>
			</div>
			<hr class="custom" />
			<hr class="custom" />
			<div class="box">
				<div class="texto">
					<Entradas
						href="./segundo"
						titulo="H츼BITATS ARTIFICIALES Y CIUDADES SUBMARINAS"
						fecha="02/08/24"
						autor="Andrea Zenteno"
						descripcion="Desde peque침os acuarios hasta grandes ciudades, estos espacios alteran las condiciones naturales para adaptarse a nuestras demandas. La idea de vivir en otros ambientes diferentes al nuestro ha sido gracias a m칰ltiples historias de ciencia ficci칩n, pero hoy m치s que nunca, se est치 convirtiendo en una posibilidad cada vez m치s tangible gracias a los avances tecnol칩gicos. "
					/>
				</div>
				<a href="/segundo">
					<div class="img">
						<div class="imagen3"></div>
					</div>
				</a>
				<hr class="custom" />
				<!-- <Card
					
						</div>
					</div>
					<hr class="custom" />
					href="https://docs.astro.build/"
					title="Documentation"
					body="Learn how Astro works and explore the official API docs."
					/>
				-->
				<!-- </ul>-->
			</div>
			<hr class="custom" />
			<hr class="custom" />

			<!-- PRIMER ENTRADA ECO FRIENDLY MARIO
			<div class="box">
						<div class="texto">
							<Entradas
								href="https://economicsales.com/BLOG/opcion-eco/opcion-eco.html"
								titulo="OPCIONES ECO-FRIENDLY"
								fecha="16/07/24"
								autor="Mario Sanchez"
								descripcion="En este blog de mostraremos unas opciones eco-fliendly que puedes encontrar en el mercado "
							/>
						</div>
						<div class="img">
							<div class="imagen1"></div>
							<!-- 
					<img src={Imagen1.src} />
					<Image src={Imagen1} alt="cover" />
					-->

			<!-- <div class="box">
				
			<div class="texto">
				<Entradas
				href="https://docs.astro.build/"
				titulo="CUARTO BLOG ECONOMIC SALES"
				fecha="24/07/24"
				autor="Mario Sanchez"
				descripcion="primer blog de prueba joiadsjfoiajdfiaj oaijdf aoijfaoidsjfoaidsfj oaasd aodsi haosdif asodi jasodi jfaosdi fjaosdif jaosdif aosdjf asodif  "
				/>
			</div>
			<div class="img">
				<div class="imagen1"></div>
			</div>
		</div>
		<hr>
		<hr>
		<div class="box">
			<div class="texto">
				<Entradas
				href="https://docs.astro.build/"
				titulo="QUINTO BLOG ECONOMIC SALES"
				fecha="24/07/24"
				autor="Mario Sanchez"
				descripcion="primer blog de prueba joiadsjfoiajdfiaj oaijdf aoijfaoidsjfoaidsfj oaasd aodsi haosdif asodi jasodi jfaosdi fjaosdif jaosdif aosdjf asodif  "
				/>
			</div>
			<div class="img">
				<div class="imagen1"></div>
			</div>
		</div>
		<hr>
		<hr>
		<div class="box">
			<div class="texto">
				<Entradas
					href="https://docs.astro.build/"
					titulo="SEXTO BLOG ECONOMIC SALES"
					fecha="24/07/24"
					autor="Mario Sanchez"
					descripcion="primer blog de prueba joiadsjfoiajdfiaj oaijdf aoijfaoidsjfoaidsfj oaasd aodsi haosdif asodi jasodi jfaosdi fjaosdif jaosdif aosdjf asodif  "
				/>
			</div>
			<div class="img">
				<div class="imagen1"></div>
			</div>
		</div>
		<hr><hr>
		<div class="box">
			<div class="texto">
				<Entradas
					href="https://docs.astro.build/"
					titulo="SEPTIMO BLOG ECONOMIC SALES"
					fecha="24/07/24"
					autor="Mario Sanchez"
					descripcion="primer blog de prueba joiadsjfoiajdfiaj oaijdf aoijfaoidsjfoaidsfj oaasd aodsi haosdif asodi jasodi jfaosdi fjaosdif jaosdif aosdjf asodif  "
				/>
			</div>
			<div class="img">
				<div class="imagen1"></div>
			</div>
		</div>
		<hr><hr>
		<div class="box">
			<div class="texto">
				<Entradas
					href="https://docs.astro.build/"
					titulo="OCTAVO BLOG ECONOMIC SALES"
					fecha="24/07/24"
					autor="Mario Sanchez"
					descripcion="primer blog de prueba joiadsjfoiajdfiaj oaijdf aoijfaoidsjfoaidsfj oaasd aodsi haosdif asodi jasodi jfaosdi fjaosdif jaosdif aosdjf asodif  "
				/>
			</div>
			<div class="img">
				<div class="imagen1"></div>
			</div>
		</div>
		<hr><hr>
		<div class="box">
			<div class="texto">
				<Entradas
					href="https://docs.astro.build/"
					titulo="NOVENO BLOG ECONOMIC SALES"
					fecha="24/07/24"
					autor="Mario Sanchez"
					descripcion="primer blog de prueba joiadsjfoiajdfiaj oaijdf aoijfaoidsjfoaidsfj oaasd aodsi haosdif asodi jasodi jfaosdi fjaosdif jaosdif aosdjf asodif  "
				/>
			</div>
			<div class="img">
				<div class="imagen1"></div>
			</div>
		</div>
		<hr><hr>
		<div class="box">
			<div class="texto">
				<Entradas
					href="https://docs.astro.build/"
					titulo="DECIMO 10 BLOG ECONOMIC SALES"
					fecha="24/07/24"
					autor="Mario Sanchez"
					descripcion="primer blog de prueba joiadsjfoiajdfiaj oaijdf aoijfaoidsjfoaidsfj oaasd aodsi haosdif asodi jasodi jfaosdi fjaosdif jaosdif aosdjf asodif  "
				/>
			</div>
			<div class="img">
				<div class="imagen1"></div>
			</div>
		</div>
		-->
		</main>
		<Footer />
	</body>
</Layout>

<style>
	body {
		background-color: gainsboro;
		background-image: url("../img/ruidoBackground.png");
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 950px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 1.1em;
	}
	.botoon {
		width: 100px;
		height: 100px;
		background-color: green;
	}
	.custom {
		background-color: rgb(0, 20, 136);
		border: none;
		height: 2px;
	}
	body.dark .custom {
		background-color: rgb(154, 154, 154);
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.box {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 15px;
		grid-row-gap: 0px;
		padding: 1em;
		border-radius: 1em;
	}

	.box:hover {
		background-color: rgb(183, 237, 255);
		border-radius: 1em;
		transform: scale(1.1);
		transition: 0.25s ease-in;
	}
	body.dark .box:hover {
		background-color: rgb(0, 10, 32);
	}
	.texto {
		grid-area: 1 / 1 / 2 / 3;
	}
	.img {
		grid-area: 1 / 3 / 2 / 4;
	}
	@media (max-width: 700px) {
		.box {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 0px;
			padding: 1em;
		}
		.texto {
			grid-area: 2 / 1 / 3 / 2;
		}
		.img {
			grid-area: 1 / 1 / 2 / 2;
		}
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		margin-inline: 1em;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.imagen1 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/cover-48.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen2 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog1.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen3 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-2.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen4 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-3.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen5 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-4.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen6 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-5.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen7 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-6.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen8 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-9.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen10 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-10.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen11 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-11.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen12 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-12.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen13 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-13.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen14 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-14.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen15 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-15.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen16 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-16.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen17 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-17.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen18 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-18.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	
	.imagen19 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-19.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen20 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-20.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.imagen21 {
		width: 330px;
		height: 330px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../assets/img/blog-21.jpg");
		grid-area: 1 / 3 / 2 / 4;
	}
	.barra {
		display: none;
		width: 100%;
		/*background-color: rgb(0, 0, 175);*/
		background-color: gainsboro;
		height: 160px;
		text-align: center;
		padding-top: 1em;
		background-image: url("../img/Logo_ES_Post.png");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	/*.barra {
		display: none;
		width: 100%;
		background-color: rgb(0, 0, 175);
		height: 160px;
		text-align: center;
		padding-top: 1em;
	}
	/*.barra img {
		max-width: 95%;
		height: 80%;
	}*/
	.nav-pop {
		visibility: hidden;
	}
	@media (max-width: 750px) {
		.nav-fija {
			display: none;
		}
		.nav-pop {
			visibility: visible;
			width: 100%;
			background-color: rgba(0, 58, 159, 0.567);
		}
		.navs {
			visibility: visible;
		}
		.barra {
			display: block;
		}
	}
	/*.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
		*/
	/*.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}*/
</style>
