---
import Layout from "../layouts/Layout.astro";
import NavFija from "../components/NavFija.astro";
import Dropdown from "../components/Dropdown.astro";
import Footer from "../components/Footer.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Blog Economic Sales de Mexico">
    <!-- MENU -->
    <div class="barra">
        <!--<img src="#">  -->
    </div>
    <div class="nav-fija">
        <NavFija />
    </div>
    <div class="nav-pop">
        <Dropdown />
    </div>
    <!-- MENU -->
    <div class="boton-dark">
        <DarkMode />
    </div>
    <body>
        <div class="articulo">
            <h1>Condenados a la obsolescencia</h1>
            <hr />
            <h2>
                Imagina un mundo donde tu teléfono inteligente, apenas sacado de
                la caja, ya tiene fecha de caducidad. Suena como una película de
                ciencia ficción, pero la realidad es que la obsolescencia
                programada está más presente en nuestras vidas de lo que
                creemos.
            </h2>
            <div class="fecha">
                <p>Por Andrea Zenteno - 25/Octubre/24</p>
            </div>

            <div class="imagen imagen-1"></div>
            <p>
                Desde los <b>smartphones hasta los electrodomésticos</b>, los productos
                están diseñados para fallar prematuramente, impulsándonos a un
                ciclo de consumo constante.
            </p>
            <p>
                En este artículo, exploraremos las implicaciones de la
                <b>obsolescencia programada</b>, sus efectos en el medio ambiente y en
                nuestra economía, y cómo podemos tomar <b>decisiones más
                conscientes como consumidores.</b>
            </p>

            <div class="imagen imagen-2"></div>
            <p>
                La obsolescencia programada es <b>una estrategia empresarial que
                consiste en diseñar productos con una vida útil intencionalmente
                corta</b>. En otras palabras, los productos son creados para fallar
                o volverse obsoletos después de un cierto tiempo, con el
                objetivo de incentivar a los consumidores a adquirir nuevos
                modelos. Esta práctica, aunque no siempre explícita, está
                presente en muchos de los productos que utilizamos a diario.
            </p>
            <p>
                El primer ejemplo lo tenemos con los <b>smartphones</b>, cuyos sistemas
                operativos dejan de recibir actualizaciones, además de que sus
                <b>baterías que se degradan rápidamente o sus componentes se
                vuelven frágiles con el tiempo</b>. También podemos notarlo en
                electrodomésticos como las <b>lavadoras</b> que dejan de centrifugar
                correctamente, en los <b>televisores</b> con paneles que se queman o
                computadoras que se vuelven lentas debido a software obsoleto.
                En el caso de las <b>impresoras</b>, los cartuchos de tinta se agotan
                rápidamente o el software bloquea el uso de cartuchos de
                terceros.
            </p>
            <p>
                En estos ejemplos mencionamos algunas de las estrategias que se
                utilizan para acortar la vida útil de sus productos, pero
                ahondando un poco más veamos qué otras estrategias son
                utilizadas:
            </p>
            <div class="remarcar">
                <p>
                    <b>● Software obsoleto:</b> Las actualizaciones de software pueden
                    dejar de ser compatibles con versiones anteriores, obligando
                    a los usuarios a adquirir nuevos dispositivos.
                </p>
            </div>
            <div class="remarcar">
                <p>
                    <b>● Falta de repuestos:</b> Dificultar o encarecer la obtención de
                    piezas de repuesto para reparar productos averiados.
                </p>
            </div>
            <div class="remarcar">
                <p>
                    <b>● Diseño deficiente:</b> Utilizar materiales de baja calidad o
                    ensamblajes frágiles para garantizar un fallo prematuro.
                </p>
            </div>
            <div class="remarcar">
                <p>
                    <b>● Planificación de la obsolescencia:</b> Establecer un ciclo de
                    vida específico para un producto, más allá del cual no habrá
                    soporte técnico ni repuestos disponibles.
                </p>
            </div>
            <div class="imagen imagen-3"></div>
            <p>
                A primera instancia podría parecer que esto no tiene mucha
                importancia, no es tan grave, sin embargo la obsolescencia
                programada nos impulsa a un ciclo de consumo constante que trae
                consigo muchas consecuencias, algunas no tan perceptibles hasta
                que reflexionamos sobre ello.
            </p>
            <p>
                Por ejemplo, esta práctica provoca una generación excesiva de
                basura tecnológica, que contiene sustancias tóxicas y dificulta
                el reciclaje, además hay una extracción constante de materias
                primas para fabricar nuevos productos, que a su vez generan
                emisiones contaminantes.
            </p>
            <p>
                Por la parte económica podemos destacar que los consumidores se
                ven obligados a gastar dinero en productos nuevos con mayor
                frecuencia, provocando gastos innecesarios y una dependencia
                hacia las grandes corporaciones.
            </p>
            <p>
                Por otra parte, fomenta una sociedad que valora más la novedad
                que la durabilidad, promueve un estilo de vida de consumismo
                excesivo basado en la adquisición constante de bienes
                materiales, la cual termina trayendo ansiedad en las personas,
                ya que genera una sensación de insatisfacción permanente y la
                necesidad de estar siempre al día con las últimas tendencias.
            </p>
            <div class="imagen imagen-4"></div>
            <p>
                Nuestro deber como clientes es estar enterados sobre todo lo que
                tenga que ver con el producto, su fabricación y la empresa que
                lo crea y distribuye, para poder hacer una compra consciente.
            </p>
            <p>
                Para ello recomendamos que primeramente identifiquen su producto
                y busquen sobre su durabilidad, leer reseñas y comparar
                diferentes marcas. También consideren antes de realizar una
                compra, las alternativas con las que cuentan, por ejemplo, qué
                tan plausible es el reparar sus dispositivos, o considerar
                comprar productos de segunda mano, elegir marcas comprometidas
                con la sostenibilidad y participar en iniciativas de economía
                circular.
            </p>
            <p>
                Recuerden que nuestras decisiones de compra sí tienen un poder,
                pues estas influyen en las prácticas de las empresas. Si
                elegimos productos duraderos y sostenibles, estaremos
                enviándoles un mensaje claro al mercado.
            </p>
            <h3>
                Al realizar nuestras compras de manera consciente estaremos
                construyendo un futuro más sostenible, donde las leyes obliguen
                a las empresas a garantizar la reparabilidad de sus productos y
                a extender su vida útil, lo cuál además hará que se adopten
                modelos de negocio basados en la economía circular, y que se
                fomente una cultura de consumo responsable, enseñando a las
                personas a valorar los productos y a repararlos en lugar de
                reemplazarlos.
            </h3>
            <hr />
        </div>
        <Footer />
        <style>
            body {
                margin: 0px;
                padding: 0px;
                background-image: url("../img/ruidoBackground.png");
                background-color: gainsboro;
            }
            h1 {
                text-shadow:
                    1px 1px 0px rgb(32, 199, 255),
                    1px -1px 0px rgb(47, 32, 255),
                    -1px 1px 0px rgb(181, 32, 255);
            }
            .articulo {
                margin: auto;
                margin-top: 1em;
                background-color: whitesmoke;
                width: 75%;
                padding: 2em;
                border-radius: 0.5em;
                line-height: auto;
            }
            .custom {
                border: none; /* Elimina el borde predeterminado */
                /*  border-top: 2px dashed #00c6cd;*/
                border-top: 2px dashed #020077;
            }
            body.dark .custom {
                border-top: 2px dashed #0031a5;
            }
            .grupoimg {
                display: flex;
                gap: 15px;
                flex-flow: row;
            }
            /*  .remarcar {
                background-image: url("../img/ruidoBackground.png");
                background-color: lightskyblue;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding: 1em;
                border-radius: 1em;
                margin: 1em;
            }*/
            .imagen-1 {
                width: 90%;
                height: 380px;
                background-image: url("../img/img-20/img-23/cel1.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: auto;
                border-radius: 1em;
                background-color: #0031a5;
            }
            .imagen-2 {
                width: 50%;
                height: 350px;
                background-image: url("../img/img-20/img-23/compu2.jpg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: auto;
                transition: 0.3s ease-in-out;
            }
            .imagen-2:hover {
                transform: scale(1.3);
            }
            .imagen-3 {
                width: 95%;
                height: 350px;
                background-image: url("../img/img-20/img-23/compu1.jpg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: auto;
                border-radius: 1em;
                transition: 0.3s ease-in-out;
            }
            .imagen-3:hover {
                transform: scale(1.3);
            }
            .imagen-4{
                width: 95%;
                height: 350px;
                background-image: url("../img/img-20/img-23/tel2.jpg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: auto;
                border-radius: 1em;
                transition: 0.3s ease-in-out;
            }
            .imagen-4:hover {
                transform: scale(1.3);
            }

            .remarcar {
                background-image: url("../img/ruidoBackground.png");
                background-color: lightskyblue;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding: 1em;
                border-radius: 1em;
                margin: 0.5em;
                box-shadow: 3px 3px 0 rgb(0, 3, 48);
                text-shadow: 2px 2px 5px rgb(106, 161, 255);
                text-align: center;
            }
            body.dark .remarcar {
                background-color: rgb(0, 142, 94);
                text-shadow: 2px 2px 5px rgb(9, 0, 24);
            }
            .flex {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                align-content: flex-start;
                width: 100%;
                /*background-color: #26007d;*/
                height: auto;
                overflow: none;
                flex-direction: row;
                border-radius: 1em;
            }
            .flex div {
                width: 450px;
                height: auto;
                margin: 20px;
                background-color: rgb(173, 230, 192);
                border-radius: 1em;
                padding: 2em;
                transition: transform 0.2s ease;
                background-image: url("../img/ruidoBackground.png");
                background-repeat: no-repeat;
                background-size: cover;
                cursor: crosshair;
            }

            .flex div:hover {
                transform: scale(1.1);
                background-color: rgb(77, 225, 126);
            }
            body.dark .flex div {
                background-color: rgb(50, 0, 188);
                color: whitesmoke;
            }
            body.dark .articulo {
                background-color: rgb(12, 0, 78);
                /*background-image: url("../img/ruidoBackground.png");*/
            }
            .fecha {
                display: flex;
                flex-flow: row-reverse;
                flex-direction: end;
            }
            body.dark .fecha p {
                color: rgb(161, 161, 161);
            }
            p {
                font-weight: 500;
                line-height: 1.6em;
                color: rgb(40, 40, 40);
            }
            body.dark p {
                color: gainsboro;
            }
            h3 {
                font-size: 1.5em;
            }
            body.dark h3 {
                font-weight: 900;
                font-size: 1.5em;
            }
            h4 {
                font-weight: 900;
                font-size: 1.3em;
            }
            body.dark h4 {
                /*color: rgb(56, 166, 255);*/
                color: rgb(74, 174, 255);
            }
            body.dark h2 {
                color: gainsboro;
            }
            body.dark h1 {
                color: gainsboro;
            }
            body.dark b {
                /*color: rgb(168, 254, 225);*/
                /*color: aqua;*/
                color: rgb(140, 234, 255);
            }
            /*  .imagen {
                width: 100%;
                height: 370px;
                /*background-color: rgb(51, 51, 51);
            }
            body.dark .imagen {
                /* background-color: rgb(240, 240, 240);
            }*/
            h3 {
                color: darkblue;
            }
            body.dark h3 {
                color: rgb(0, 208, 255);
            }
            /* MENU --------------------------------------*/

            .barra {
                display: none;
                width: 100%;
                /*background-color: rgb(0, 0, 175);*/
                background-color: gainsboro;
                height: 160px;
                text-align: center;
                padding-top: 1em;
                background-image: url("../img/Logo_ES_Post.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            /*.barra img {
        max-width: 95%;
        height: 200px;
    }*/
            .nav-pop {
                visibility: hidden;
            }
            @media (max-width: 750px) {
                .nav-fija {
                    display: none;
                }
                .nav-pop {
                    visibility: visible;
                    width: 100%;
                    background-color: rgba(0, 58, 159, 0.567);
                }
                .navs {
                    visibility: visible;
                }
                .barra {
                    display: block;
                }
            }
            @media (max-width: 500px) {
                .imagen {
                    width: 100%;
                }
                .remarcar {
                    width: 90%;
                    font-size: 0.85em;
                }
            }
        </style>
    </body></Layout
>
