---
import Layout from "../layouts/Layout.astro";
import NavFija from "../components/NavFija.astro";
import Dropdown from "../components/Dropdown.astro";
import Footer from "../components/Footer.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Blog Economic Sales de Mexico">
    <!-- MENU -->
    <div class="barra">
        <!--<img src="#">  -->
    </div>
    <div class="nav-fija">
        <NavFija />
    </div>
    <div class="nav-pop">
        <Dropdown />
    </div>
    <!-- MENU -->
    <div class="boton-dark">
        <DarkMode />
    </div>
    <body>
        <div class="articulo">
            <h1>
                Codificando la mente: Desentrañando el Futuro de la Memoria y la
                Conciencia
            </h1>
            <hr />
            <h2>
                ¿Imaginas un futuro donde tus recuerdos, tus experiencias y tu
                personalidad puedan ser almacenados en una nube digital?
            </h2>
            <div class="fecha">
                <p>Por Andrea Zenteno - 09/Septiembre/24</p>
            </div>
            <p>
                <b>¿Un futuro donde la muerte ya no sea el fin, sino una transición
                a una existencia digital?</b> Esta idea, que hasta hace poco parecía
                propia de la ciencia ficción, está cada vez más cerca de
                convertirse en realidad gracias a los avances en neurociencia y
                tecnología.
            </p>
            <p>
                La singularidad tecnológica, ese punto hipotético en el que la
                <b>inteligencia artificial supera la inteligencia humana</b>, se acerca
                a pasos agigantados. Y con ella, la posibilidad de fusionar
                nuestras mentes con las máquinas. Pero <b>¿Qué implica esto
                realmente? ¿Estamos preparados para un mundo donde la línea
                entre lo biológico y lo digital se vuelve cada vez más difusa?</b>
            </p>
            <div class="grupoimg">
                <div class="imagen">
                    <div class="imagen-1"></div>
                </div>
            </div>
            <h2>La Ciencia detrás de la Ficción</h2>
            <p>
                La interfaz <b>cerebro-computadora (ICC)</b> es la clave que podría
                desbloquear el potencial de la mente digital. Estos
                dispositivos, capaces de leer y escribir información
                directamente en el cerebro, <b>están avanzando a un ritmo
                vertiginoso</b>. Investigadores de todo el mundo están trabajando en
                <b>implantes cerebrales que permitirán controlar dispositivos
                externos con el pensamiento</b>, restaurar funciones motoras en
                personas con parálisis e incluso restaurar recuerdos perdidos.
            </p>
            <p>
                Pero <b>¿Cómo podríamos llegar a almacenar toda la complejidad de
                la mente humana en un formato digital?</b> La neurociencia está
                desvelando los mecanismos neuronales que subyacen a la memoria y
                la conciencia. Al comprender cómo se codifica la información en
                el cerebro, podríamos desarrollar algoritmos capaces de replicar
                estos procesos en un ordenador.
            </p>
            <div class="imagen">
                <div class="imagen-4"></div>
            </div>
            <h2>Implicaciones y Consecuencias</h2>
            <h2>
                Las implicaciones de esta tecnología son vastas y profundas.
                Imagina un mundo donde:
            </h3>
            <h4>
                La inmortalidad digital sea una realidad. Podríamos crear copias
                de seguridad de nuestra mente, asegurando así nuestra
                supervivencia más allá de la muerte biológica.
            </h4>
            <h4>
                La educación sea revolucionada. Podríamos descargar
                conocimientos directamente en nuestro cerebro, eliminando la
                necesidad de años de estudio.
            </h4>
            <h4>
                El tratamiento de enfermedades mentales podría ser más eficaz.
                Al comprender los patrones neuronales asociados a trastornos
                como la depresión o la esquizofrenia, podríamos desarrollar
                terapias digitales personalizadas.
            </h4>
            <h2>
                Sin embargo, esta tecnología también plantea importantes
                desafíos éticos y sociales:
            </h2>
            <div class="imagen">
                <div class="imagen-3"></div>
            </div>
            <div class="remarcar">
                <b>Privacidad: </b>  <p>¿Quién tendrá acceso a nuestros pensamientos más
                íntimos? ¿Cómo protegeremos nuestra identidad digital de hackers
                y cibercriminales?
            </p>
            </div>
            <div class="remarcar">
                    <b>Desigualdad: </b>
                    <p> ¿Esta tecnología estará al alcance de todos o solo
                    de unos pocos privilegiados? ¿Creará una nueva clase de
                    superhumanos digitales?
                </p>
            </div>
            <div class="remarcar">
                   <b>Naturaleza de la conciencia: </b>  <p> ¿Qué significa ser humano en un
                    mundo donde la mente puede ser copiada, modificada y transferida
                    a una máquina?
                </p>
            </div>
           
            <h2>Retos y Limitaciones</h2>
            <p>
                A pesar de los avances, aún quedan muchos obstáculos por
                superar. La conciencia es un fenómeno complejo y multifacético
                que va más allá de los procesos neuronales.<br><br> <b>¿Podemos realmente
                replicar la experiencia subjetiva de ser humano en un sistema
                digital? </b>Además, la cantidad de datos que necesitaríamos para
                almacenar una mente completa sería inmensa, y los algoritmos
                necesarios para procesar esta información aún no existen.
            </p>
            <div class="imagen">
                <div class="imagen-5"></div>
            </div>
            <h2>Conclusión:</h2>
            <p>
                La posibilidad de convertir la memoria en datos digitales es una
                perspectiva fascinante y aterradora a la vez. Esta tecnología
                podría cambiar radicalmente nuestra forma de vivir, trabajar y
                relacionarnos. <br><br>Sin embargo, es fundamental abordar los desafíos
                éticos y sociales que plantea para garantizar que esta
                tecnología se desarrolle de manera responsable y beneficiosa
                para toda la humanidad.
            </p>
        </div>
    </body>
</Layout>
<Footer />

<style>
    body {
        margin: 0px;
        padding: 0px;
        background-image: url("../img/ruidoBackground.png");
        background-color: gainsboro;
    }
    .articulo {
        margin: auto;
        margin-top: 1em;
        background-color: whitesmoke;
        width: 75%;
        padding: 2em;
        border-radius: 0.5em;
        line-height: auto;
    }
    .grupoimg {
        display: flex;
        gap: 15px;
        flex-flow: row;
    }
    .remarcar {
            background-image: url("../img/ruidoBackground.png");
            background-color: lightskyblue;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 1em;
            border-radius: 1em;
            margin: 1em;
        }
        body.dark .remarcar{
            background-color: rgb(0, 142, 94);
        
        }
    .imagen-1 {
        width: 370px;
        height: 370px;
        background-image: url("../img/img-11/bot.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        border-radius: 1em;
    }
    .imagen-3 {
        width: 370px;
        height: 370px;
        background-image: url("../img/img-11/androide1.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        border-radius: 1em;
    }
    .imagen-4 {
        width: 370px;
        height: 370px;
        background-image: url("../img/img-11/androide2.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        border-radius: 1em;
    }
    .imagen-5 {
        width: 370px;
        height: 370px;
        background-image: url("../img/img-11/virtual1.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        border-radius: 1em;
    }
    .remarcar {
        background-image: url("../img/ruidoBackground.png");
        background-color: lightskyblue;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 1em;
        border-radius: 1em;
        margin: 1em;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        /*background-color: #26007d;*/
        height: auto;
        overflow: none;
        flex-direction: row;
        border-radius: 1em;
    }
    .flex div {
        width: 450px;
        height: auto;
        margin: 20px;
        background-color: rgb(173, 230, 192);
        border-radius: 1em;
        padding: 2em;
        transition: transform 0.2s ease;
        background-image: url("../img/ruidoBackground.png");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: crosshair;
    }

    .flex div:hover {
        transform: scale(1.1);
        background-color: rgb(77, 225, 126);
    }
    body.dark .flex div {
        background-color: rgb(50, 0, 188);
        color: whitesmoke;
    }
    body.dark .articulo {
        background-color: rgb(12, 0, 78);
        /*background-image: url("../img/ruidoBackground.png");*/
    }
    .fecha {
        display: flex;
        flex-flow: row-reverse;
        flex-direction: end;
    }
    body.dark .fecha p {
        color: rgb(161, 161, 161);
    }
    p {
        font-weight: 500;
        line-height: 1.5em;
    }
    body.dark p {
        color: gainsboro;
    }
    h3 {
        font-size: 1.5em;
    }
    body.dark h3 {
        font-weight: 900;
        font-size: 1.5em;
    }
    h4 {
        font-weight: 900;
        font-size: 1.3em;
    }
    body.dark h4 {
        /*color: rgb(56, 166, 255);*/
        color: rgb(74, 174, 255);
    }
    body.dark h2 {
        color: gainsboro;
    }
    body.dark h1 {
        color: gainsboro;
    }
    body.dark b {
        /*color: rgb(168, 254, 225);*/
        /*color: aqua;*/
        color: rgb(140, 234, 255);
    }
    .imagen {
        width: 100%;
        height: 370px;
        /*background-color: rgb(51, 51, 51);*/
    }
    body.dark .imagen {
        /* background-color: rgb(240, 240, 240);*/
    }

    h3 {
        color: darkblue;
    }
    body.dark h3 {
        color: rgb(0, 208, 255);
    }
    /* MENU --------------------------------------*/

    .barra {
        display: none;
        width: 100%;
        /*background-color: rgb(0, 0, 175);*/
        background-color: gainsboro;
        height: 160px;
        text-align: center;
        padding-top: 1em;
        background-image: url("../img/Logo_ES_Post.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    /*.barra img {
        max-width: 95%;
        height: 200px;
    }*/
    .nav-pop {
        visibility: hidden;
    }
    @media (max-width: 750px) {
        .nav-fija {
            display: none;
        }
        .nav-pop {
            visibility: visible;
            width: 100%;
            background-color: rgba(0, 58, 159, 0.567);
        }
        .navs {
            visibility: visible;
        }
        .barra {
            display: block;
        }
    }
    @media (max-width: 470px) {
        .flex div {
            margin: 5px;
            margin-top: 30px;
            padding: 1em;
        }
        .flex div p {
            font-size: 0.9rem;
        }
    }
</style>
