---
import Layout from "../layouts/Layout.astro";
import NavFija from "../components/NavFija.astro";
import Dropdown from "../components/Dropdown.astro";
import Footer from "../components/Footer.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Blog Economic Sales de Mexico">
    <!-- MENU -->
    <div class="barra">
        <!--<img src="#">  -->
    </div>
    <div class="nav-fija">
        <NavFija />
    </div>
    <div class="nav-pop">
        <Dropdown />
    </div>
    <!-- MENU -->
    <div class="boton-dark">
        <DarkMode />
    </div>
    <body>
        <div class="articulo">
            <h1>El litio y sus alternativas para el futuro</h1>
            <hr />
            <h2>
                El litio ha sido el rey de las baterías recargables durante
                décadas, impulsando todo, desde nuestros teléfonos inteligentes
                hasta los vehículos eléctricos. Sin embargo, la dependencia del
                litio no está exenta de riesgos.
            </h2>
            <div class="fecha">
                <p>Por Dany Arda - 24/Julio/24</p>
            </div>
            <p>
                A pesar de que minas de litio siguen siendo nacionalizadas y
                saqueadas por todo el mundo, desde hace más de 15 años se han
                buscado potenciales alternativas, si bien el litio seguirá
                siendo importante en el corto plazo, estas alternativas ofrecen
                la promesa de un futuro más sostenible y seguro para la
                tecnología de baterías.<br /><br />
                La investigación y el desarrollo continuos son cruciales para llevar
                estas tecnologías al mercado y reducir nuestra dependencia del litio:
            </p>
            <div class="imagen">
                <div class="img-1"></div>
            </div>
            <p>
                <strong>● Sodio:</strong> El sodio es abundante, barato y seguro.
                Las baterías de sodio-azufre prometen un almacenamiento de energía
                de bajo costo a gran escala, ideal para redes eléctricas. Ubicaciones:
                Chile, Argentina, Estados Unidos. <br /><br />

                <strong> ● Magnesio:</strong> El magnesio es ligero y ofrece una
                alta densidad de energía. Las baterías de magnesio-aire podrían ser
                más ligeras y duraderas que las de litio, pero su desarrollo aún
                está en curso. Ubicaciones: China, Rusia, Israel. <br /><br />

                <strong>● Aluminio:</strong> El aluminio es abundante y reciclable.
                Las baterías de aluminio-aire son prometedoras para aplicaciones
                de bajo costo y larga duración, como la red eléctrica. Ubicaciones:
                Australia, Guinea, Brasil. <br /><br />

                <strong>● Zinc:</strong> El zinc es económico y seguro. Las baterías
                de zinc-aire son compactas y de bajo costo, pero su capacidad de
                almacenamiento es menor que la del litio. Ubicaciones: Australia,
                Canadá, Perú.<br /><br />

                <strong>● Potasio:</strong> El potasio es abundante y ofrece un alto
                potencial teórico de energía. Las baterías de potasio-azufre están
                en desarrollo para aplicaciones de almacenamiento de energía a gran
                escala. Ubicaciones: Canadá, Chile, Rusia.
            </p>
            <div class="imagen">
                <div class="img-2"></div>
            </div>
            <p>
                Cada alternativa tiene sus propias ventajas y desventajas, la
                investigación y el desarrollo están en curso para todas estas
                tecnologías, la viabilidad comercial de cada alternativa
                dependerá de factores como el costo, el rendimiento y la
                seguridad. La búsqueda de alternativas al litio es un campo
                dinámico y emocionante. Con un poco de inversión e ingenio,
                podemos desbloquear un futuro más sostenible para la tecnología
                de baterías.
            </p>

            <h3>¿Cuál es la opción más viable?</h3>
            <p>
                En la búsqueda de un futuro más sostenible para la tecnología de
                baterías, es crucial analizar las alternativas al litio de
                manera objetiva, considerando datos concretos y comparables. A
                continuación, se presenta un análisis de las principales
                alternativas en términos de abundancia, costo, rendimiento y
                seguridad:
            </p>

            <h3>1. Abundancia:</h3>
            <p>
                <strong>● Sodio:</strong> El sodio es el sexto elemento más abundante
                en la corteza terrestre, superando al litio por más de 500 veces.
                Se encuentra en abundancia en <b
                    >Chile, Argentina, Estados Unidos</b
                > y otros países. <br /><br />

                <strong>● Magnesio:</strong> El magnesio es el octavo elemento más
                abundante en la corteza terrestre. Se encuentra en abundancia en
                <b>China, Rusia e Israel</b>. <br /><br />

                <strong>● Aluminio: </strong>El aluminio es el tercer elemento
                más abundante en la corteza terrestre. Se encuentra en
                abundancia en <b>Australia, Guinea y Brasil</b>.<br /><br />

                <strong> ● Zinc:</strong> El zinc es el cuarto elemento más abundante
                en la corteza terrestre. Se encuentra en abundancia en <b
                    >Australia, Canadá y Perú.</b
                >
                <br /><br />

                <strong>● Potasio:</strong> El potasio es el séptimo elemento más
                abundante en la corteza terrestre. Se encuentra en abundancia en
                <b>Canadá, Chile y Rusia.</b>
            </p>
           <hr>
            <h3>2. Costo:</h3><p>
                <strong>● Sodio:</strong> Las baterías de sodio-azufre tienen un
                costo estimado por kWh de almacenamiento de energía que es significativamente
                menor al de las baterías de litio-ión.<br /><br />

                <strong>● Magnesio:</strong> Las baterías de magnesio-aire aún se
                encuentran en desarrollo, pero se espera que sean más baratas que
                las de litio-ión. <br /><br />

                <strong>● Aluminio:</strong> Las baterías de aluminio-aire tienen
                un costo potencial por kWh de almacenamiento de energía comparable
                al de las baterías de litio-ión. <br /><br />

                <strong> ● Zinc:</strong> Las baterías de zinc-aire son relativamente
                baratas de producir. <br /><br />

                <strong>● Potasio:</strong> Las baterías de potasio-azufre se encuentran
                en una etapa temprana de desarrollo y aún no se ha determinado su
                costo exacto.
            </p><hr>
            <h3>3. Rendimiento:</h3>
            <p>
                <strong>● Sodio:</strong> Las baterías de sodio-azufre tienen una menor densidad
                de energía que las de litio-ión, lo que significa que son más
                pesadas y voluminosas para la misma cantidad de energía
                almacenada.<br><br>
                <strong>● Magnesio:</strong> Las baterías de magnesio-aire tienen el
                potencial de ofrecer una alta densidad de energía comparable a
                la de las baterías de litio-ión. <br><br>
                <strong>● Aluminio: </strong>Las baterías de
                aluminio-aire tienen una densidad de energía teóricamente alta,
                pero aún no se ha logrado en la práctica. <br><br>
                <strong>● Zinc:</strong> Las baterías
                de zinc-aire tienen una menor densidad de energía que las de
                litio-ión. <br><br>
                <strong>● Potasio:</strong> Las baterías de potasio-azufre tienen el
                potencial de ofrecer una alta densidad de energía, pero aún se
                encuentran en una etapa temprana de desarrollo.
            </p><hr>
            <h3>4. Seguridad:</h3>
            <p>
                <strong>● Sodio:</strong> Las baterías de sodio-azufre son menos propensas a
                incendiarse o explotar que las de litio-ión. <br><br>
                
                <strong>● Magnesio:</strong> Las
                baterías de magnesio-aire pueden ser inflamables, pero se están
                desarrollando nuevas químicas para mejorar la seguridad.  <br><br>
                
                <strong>● Aluminio:</strong>  Las baterías de aluminio-aire son generalmente
                seguras.  <br><br>
                
                <strong>● Zinc:</strong> Las baterías de zinc-aire son seguras y no
                inflamables. <br><br>
                
                <strong>● Potasio:</strong> Las baterías de potasio-azufre son
                relativamente seguras, pero se requieren más investigaciones.
            </p>
            <div class="imagen">
                <div class="img-3"></div>
            </div>
            <p>
                La mejor alternativa al litio depende de la aplicación
                específica. Para aplicaciones de almacenamiento de energía a
                gran escala, el sodio y el aluminio son opciones prometedoras
                debido a su bajo costo y abundancia. <b>Para vehículos eléctricos,
                el magnesio y el zinc podrían ser alternativas viables</b> si se
                superan los desafíos de rendimiento y seguridad. 
            </p>
            <p>
                Es importante recordar que la tecnología de baterías <b>está en
                constante evolución </b>y que nuevas alternativas podrían surgir en
                el futuro. La investigación y el desarrollo continuos son
                cruciales para llevar <b>estas tecnologías al mercado y reducir
                nuestra dependencia del litio.</b>
            </p>
            <p>
                La dependencia del litio en <b>la tecnología de baterías actual
                presenta riesgos y limitaciones</b>. La búsqueda de alternativas
                sostenibles es crucial para un <b>futuro más ecológico y seguro.</b>
                Las alternativas ofrecen diferentes ventajas en términos de
                abundancia, costo, rendimiento y seguridad. La mejor opción
                dependerá de la aplicación específica.
            </p>
            <p>
                Si bien el
                litio seguirá siendo importante en el corto plazo, la
                investigación y <b>el desarrollo de estas alternativas tienen un
                enorme potencial para diversificar el panorama de las baterías y
                reducir nuestra dependencia de un solo elemento</b>. Es un camino
                emocionante y desafiante, pero con inversión e ingenio, podemos
                desbloquear un futuro más sostenible para la tecnología de
                baterías y un mundo más ecológico.
            </p>
        </div>
    </body>

    <Footer />
</Layout>
<style>
    body {
        margin: 0px;
        padding: 0px;
        background-image: url('../img/ruidoBackground.png');
        background-color: gainsboro
    }
    .articulo {
        margin: auto;
        margin-top: 1em;
        background-color: whitesmoke;
        width: 75%;
        padding: 2em;
        border-radius: 0.5em;
        line-height: auto;
    }
    .fecha {
        display: flex;
        flex-flow: row-reverse;
        flex-direction: end;
    }
    p {
        font-weight: 500;
        line-height: 1.5em;
    }
    .imagen{
    width: 100%;
    height: 320px;
    background-color: rgb(51, 51, 51);
    }
    .img-1{
        width: 300px;
        height: 320px;
        background-image: url('../img/img-1/pila.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
    }
    .img-2{
        width: 300px;
        height: 320px;
        background-image: url('../img/img-1/bateria de litio.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
    }
    .img-3{
        width: 300px;
        height: 320px;
        background-image: url('../img/img-1/bateria2.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
    }
    /* MENU --------------------------------------*/
    .barra {
        display: none;
        width: 100%;
        /*background-color: rgb(0, 0, 175);*/
        background-color: gainsboro;
        height: 160px;
        text-align: center;
        padding-top: 1em;
        background-image: url('../img/Logo_ES_Post.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    /*.barra {
        display: none;
        width: 100%;
        background-color: rgb(0, 0, 175);
        height: 160px;
        text-align: center;
        padding-top: 1em;
    }
    .barra img {
        max-width: 95%;
        height: 80%;
    }*/
    .nav-pop {
        visibility: hidden;
    }
    @media (max-width: 750px) {
        .nav-fija {
            display: none;
        }
        .nav-pop {
            visibility: visible;
            width: 100%;
            background-color: rgba(0, 58, 159, 0.567);
        }
        .navs {
            visibility: visible;
        }
        .barra {
            display: block;
        }
    }
</style>
