---
import Layout from "../layouts/Layout.astro";
import NavFija from "../components/NavFija.astro";
import Dropdown from "../components/Dropdown.astro";
import Footer from "../components/Footer.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Blog Economic Sales de Mexico">
    <!-- MENU -->
    <div class="barra">
        <!--<img src="#">  -->
    </div>
    <div class="nav-fija">
        <NavFija />
    </div>
    <div class="nav-pop">
        <Dropdown />
    </div>
    <!-- MENU -->
    <div class="boton-dark">
        <DarkMode />
    </div>
    <body>
        <div class="articulo">
            <h1>Tecnoestrés: Una Mirada a los Desafíos del Mundo Digital</h1>
            <hr />
            <h2>
                El tecnoestrés es el estrés causado por el uso excesivo y la
                dependencia de la tecnología digital, afectando tanto la salud
                mental como física. Se manifiesta en el ámbito laboral con la
                presión de estar siempre disponible y en el personal con la
                ansiedad por la exposición continua a redes sociales. Para
                mitigarlo, es crucial establecer límites en el uso de
                tecnología, promover el autocuidado y crear un equilibrio entre
                la vida laboral y personal. Las organizaciones deben apoyar
                prácticas saludables y ofrecer recursos para gestionar el estrés
                tecnológico, adaptándose continuamente a los cambios en la
                tecnología.
            </h2>
            <div class="fecha">
                <p>Por Dany Arda - 14/Agosto/24</p>
            </div>
       
            <div class="imagen">
                <div class="imagen-1"></div>
            </div>
            <p>
                En la era digital, donde la tecnología se ha convertido en un
                componente integral de nuestras vidas diarias, <b>el concepto de
                tecnoestrés</b> ha emergido como una preocupación creciente.<br><br>
                
                El <b>tecnoestrés</b> se refiere al <b>estrés y la ansiedad</b> derivados del uso
                y la dependencia de las <b>tecnologías digitales</b>. Este fenómeno ha
                ganado relevancia a medida que la tecnología avanza y se integra
                cada vez más en nuestras rutinas diarias, tanto en el ámbito
                laboral como personal.
            </p>
            <p>
                El tecnoestrés <b>se manifiesta de múltiples maneras</b>, afectando
                tanto nuestra <b>salud mental como física</b>. En el contexto laboral,
                la presión por responder rápidamente a correos electrónicos, la
                necesidad de estar disponible a todas horas y la carga constante
                de información pueden contribuir a una sensación de agobio y
                sobrecarga. Las demandas constantes de actualización y
                multitarea que exige el entorno digital pueden erosionar la
                <b>capacidad de concentración y disminuir la calidad del trabajo.</b>
                Esta presión para mantenerse conectado y actualizado crea un
                entorno en el que la desconexión es cada vez más difícil,
                llevando a un desequilibrio entre la vida laboral y personal.
            </p>

            <p>
                En el ámbito personal, el tecnoestrés también se manifiesta en
                <b>la forma en que interactuamos con nuestras redes sociales y
                otras plataformas digitales.</b> La exposición continua a la
                información, las comparaciones sociales y la necesidad de
                mantener una imagen perfecta en línea pueden generar ansiedad y
                afectar la autoestima. La constante evaluación y el miedo a
                perderse algo <b>(FOMO, por sus siglas en inglés) </b>alimentan una
                sensación de urgencia y estrés, haciendo que sea difícil
                relajarse y disfrutar de actividades fuera del ámbito digital.
            </p>
            <div class="imagen">
                <div class="imagen-2"></div>
            </div>
            <p>
                El impacto del tecnoestrés en la salud física también es
                significativo. La exposición prolongada a las pantallas puede
                llevar a <b>problemas de visión, dolor en el cuello y en la
                espalda, así como a trastornos del sueño</b>. La falta de
                desconexión y descanso adecuado también puede contribuir a una
                mayor susceptibilidad a enfermedades y a una disminución en el
                bienestar general.
            </p>
            <p>
                Es <b>fundamental reconocer los signos del tecnoestrés y
                desarrollar estrategias para mitigarlo.</b> La gestión del tiempo,
                la práctica de la desconexión digital y la implementación de
                hábitos saludables pueden ayudar a reducir el impacto del estrés
                tecnológico. Además, fomentar un entorno laboral que valore el
                <b>equilibrio entre la vida laboral y personal y promover el uso
                consciente de la tecnología</b> puede contribuir a una mejor salud
                mental y bienestar.
            </p>
            <p>
                A medida que continuamos avanzando en un mundo cada vez más
                digitalizado, es crucial <b>prestar atención a cómo la tecnología
                afecta nuestras vidas y buscar formas de equilibrar sus
                beneficios con nuestras necesidades de bienestar</b>. La toma de
                conciencia y la acción proactiva son pasos importantes para
                enfrentar y gestionar el tecnoestrés en nuestra vida cotidiana.
            </p>
            <div class="imagen">
                <div class="imagen-3"></div>
            </div>
            <p>
                Enfrentar el tecnoestrés requiere un enfoque consciente y
                multifacético que aborde tanto los factores individuales como
                los organizacionales. A nivel personal, una de las estrategias
                más efectivas para mitigar el tecnoestrés es <b>establecer límites
                claros en el uso de la tecnología</b>. Esto puede incluir la
                creación de espacios y tiempos específicos para desconectar,
                como designar horas sin dispositivos electrónicos o establecer
                zonas libres de tecnología en el hogar. La <b>práctica de técnicas
                de relajación</b>, como la meditación o el mindfulness, también
                puede ser beneficiosa para <b>reducir la ansiedad y promover una
                mayor sensación de control.</b>
            </p>
            <p>
                Además, es esencial <b>fomentar un uso saludable de la tecnología.</b>
                Esto implica ser consciente de cómo y cuánto tiempo se pasa
                frente a las pantallas y tomar medidas para reducir el tiempo de
                uso cuando sea posible. <b>Actividades como la lectura de libros
                impresos, la práctica de ejercicios físicos o el disfrute de
                actividades al aire libre</b> pueden ofrecer un respiro necesario y
                ayudar a equilibrar el tiempo dedicado a las tecnologías
                digitales.
            </p>
        </div>
        <Footer />
    </body>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            background-image: url("../img/ruidoBackground.png");
            background-color: gainsboro;
        }
        .articulo {
            margin: auto;
            margin-top: 1em;
            background-color: whitesmoke;
            width: 75%;
            padding: 2em;
            border-radius: 0.5em;
            line-height: auto;
        }
        body.dark .articulo {
            background-color: rgb(12, 0, 78);
            /*background-image: url("../img/ruidoBackground.png");*/
        }
        .fecha {
            display: flex;
            flex-flow: row-reverse;
            flex-direction: end;
        }
        p {
            font-weight: 500;
            line-height: 1.5em;
        }
        b{
            font-weight: 800;
        }
        body.dark p {
            color: gainsboro;
        }
        h3 {
            font-weight: 900;
        }
        h4 {
            font-weight: 900;
        }
        body.dark h4 {
            /*color: rgb(56, 166, 255);*/
            color: rgb(74, 174, 255);
        }
        body.dark h2 {
            color: gainsboro;
        }
        body.dark h1 {
            color: gainsboro;
        }
        body.dark b {
            color: rgb(168, 254, 225);
        }
        .imagen {
            width: 100%;
            height: 370px;
            /*background-color: rgb(51, 51, 51);*/
        }
        /*body.dark .imagen {
           /* background-color: rgb(240, 240, 240);
            padding: 1em;
            border-radius: 1em;
        }*/
        .imagen-1 {
            width: 90%;
            height: 370px;
            background-image: url("../img/img-5/stress1.jpg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: auto;
        }
        .imagen-2 {
            width: 90%;
            height: 100%;
            background-image: url("../img/img-5/stress2.jpg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: auto;
        }
        .imagen-3 {
         width: 90%;
            height: 370px;
            background-image: url("../img/img-5/stress3.jpg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: auto;
        }
        h3 {
            color: darkblue;
        }
        body.dark h3 {
            color: rgb(0, 208, 255);
        }
        /* MENU --------------------------------------*/

        .barra {
            display: none;
            width: 100%;
            /*background-color: rgb(0, 0, 175);*/
            background-color: gainsboro;
            height: 160px;
            text-align: center;
            padding-top: 1em;
            background-image: url("../img/Logo_ES_Post.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        /*.barra img {
        max-width: 95%;
        height: 200px;
    }*/
        .nav-pop {
            visibility: hidden;
        }
        @media (max-width: 750px) {
            .nav-fija {
                display: none;
            }
            .nav-pop {
                visibility: visible;
                width: 100%;
                background-color: rgba(0, 58, 159, 0.567);
            }
            .navs {
                visibility: visible;
            }
            .barra {
                display: block;
            }
        }
    </style>
</Layout>
