---
import Layout from "../layouts/Layout.astro";
import NavFija from "../components/NavFija.astro";
import Dropdown from "../components/Dropdown.astro";
import Footer from "../components/Footer.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Blog Economic Sales de Mexico">
    <!-- MENU -->
    <div class="barra">
        <!--<img src="#">  -->
    </div>
    <div class="nav-fija">
        <NavFija />
    </div>
    <div class="nav-pop">
        <Dropdown />
    </div>
    <!-- MENU -->
    <div class="boton-dark">
        <DarkMode />
    </div>
    <body>
        <div class="articulo">
            <h1>
                Hábitats artificiales y Ciudades Submarinas: Un Sueño
                Tecnológico al Alcance de la Mano
            </h1>
            <hr />
            <h2>
                Los hábitats artificiales son entornos creados o modificados
                significativamente por el ser humano para satisfacer diversas
                necesidades.
            </h2>
            <div class="fecha">
                <p>Por Andrea Zenteno - 02/Agosto/24</p>
            </div>
            <p>
                Desde pequeños acuarios hasta grandes ciudades, <b>estos espacios
                alteran las condiciones naturales</b> para adaptarse a nuestras
                demandas. La idea de vivir en otros ambientes diferentes al
                nuestro ha sido gracias a múltiples historias de ciencia ficción
                que han surgido a lo largo de la historia, pero hoy más que
                nunca, <b>se está convirtiendo en una posibilidad cada vez más
                tangible</b> gracias a los avances tecnológicos.
            </p>
            <div class="imagen">
                <div class="img-1"></div>
            </div>
            <p>
                Uno de los ambientes más retratados ha sido el mar. Las ciudades
                submarinas, en este contexto, representan un <b>tipo de hábitat
                artificial extremo</b>, donde se busca recrear las condiciones
                necesarias para la vida humana en un entorno completamente ajeno
                a nuestra naturaleza. Al igual que un acuario recrea un
                ecosistema marino a pequeña escala, <b>una ciudad submarina
                aspiraría a crear un entorno habitable en las profundidades
                oceánicas</b>, presentando desafíos únicos en términos de
                <b>ingeniería, biología y sostenibilidad.</b>
            </p>
            <div class="imagen">
                <div class="img-2"></div>
            </div>
            <p>
                Y <b>¿por qué miramos hacia el mar?</b> El aumento del nivel del mar,
                la escasez de recursos en tierra firme y la búsqueda de nuevos
                horizontes nos impulsan a <b>mirar hacia las profundidades
                oceánicas</b>. Las ciudades submarinas ofrecen una solución
                innovadora a estos desafíos, <b>proporcionando un nuevo espacio
                habitable </b>y abriendo la puerta a la exploración de un mundo
                submarino lleno de posibilidades.<br /><br />

                Para hacer realidad las ciudades submarinas, <b>es necesario
                desarrollar y perfeccionar una serie de tecnologías</b> clave:
            </p>
            <br>
            <h3>Ingeniería estructural:</h3>
            <hr>
            <p>
                <b>o Cúpulas geodésicas:</b> Estas estructuras ligeras y resistentes
                pueden soportar grandes presiones. <br /><br />

                <b>o Materiales compuestos:</b>
                Combinaciones de diferentes materiales como fibra de carbono y polímeros
                ofrecen resistencia y flexibilidad.
            </p>
            <br>
            <h3>Sistemas de vida soporte:</h3>
            <hr>
            <p>
                <b>o Biofiltros: </b>Purifican el agua y el aire utilizando
                organismos vivos. <br /><br />

                <b>o Acuaponía:</b> Un sistema integrado de cultivo de plantas y
                peces que proporciona alimentos frescos y recicla nutrientes.<br
                /><br />

                <b>o Reciclaje de agua y residuos:</b> Tecnologías avanzadas para
                garantizar un uso eficiente de los recursos.
            </p>
            <br>
            <h3>Energías renovables:</h3>
            <hr>
            <p>
                <b>o Turbinas mareomotrices:</b> Aprovechan la energía de las mareas.
                <br /><br />

                <b>o Energía undimotriz:</b> Capturan la energía de las olas. <br
                /><br />

                <b>o Energía geotérmica submarina:</b> Utiliza el calor del interior
                de la Tierra.
            </p>
            <br>
            <h3>Robótica y automatización:</h3>
            <hr>
            <p>
                <b>o Vehículos submarinos autónomos (AUVs):</b> Construyen, inspeccionan
                y mantienen las infraestructuras submarinas.<br /><br />
                <b>o Drones submarinos:</b> Realizan tareas de vigilancia y exploración.
            </p>
            <br>
            <h3>Biotecnología:</h3>
            <hr>
            <p>
                <b>o Ingeniería genética:</b> Desarrolla organismos resistentes a
                las condiciones extremas del mar para la producción de alimentos
                y biocombustibles. <br /><br />

                <b>o Biomateriales:</b> Crea materiales biodegradables y autoreparables
                para la construcción.
            </p>
            <br>
           
            <h3>Diseño y Concepción de Ciudades Submarinas</h3> 
            <div class="imagen">
                <div class="img-3"></div>
            </div>
            <p>
                Las ciudades submarinas pueden adoptar diversas formas, desde
                burbujas esféricas hasta estructuras integradas en el fondo
                marino. La elección del diseño dependerá de factores como la
                profundidad, el tamaño de la ciudad y el entorno marino.
            </p>
            <h3>Materiales y Construcción</h3>
            <p>
                Los materiales utilizados en la construcción de ciudades
                submarinas deben ser resistentes a la presión, la corrosión y el
                impacto de las corrientes marinas. El acero, el hormigón
                reforzado y los polímeros compuestos son algunos de los
                materiales más prometedores.
            </p>
            <br>
            <h3>Impacto Ambiental y Sostenibilidad</h3>
            <hr>
            <p>
                La construcción de ciudades submarinas debe realizarse de manera
                sostenible para minimizar el impacto en el medio ambiente
                marino. Es fundamental:
            </p>
            <p>
                <b>• Proteger la vida marina:</b> Evitar la contaminación y la destrucción
                de hábitats. <br /><br />

                <b>• Utilizar energías renovables:</b> Reducir la dependencia de
                los combustibles fósiles. <br /><br />

                <b>• Gestionar los residuos:</b> Implementar sistemas eficientes
                de reciclaje y tratamiento de aguas residuales.
            </p>
            <p>
                Aunque aún quedan muchos desafíos por superar, el futuro de las
                ciudades submarinas es prometedor. La tecnología avanza a un
                ritmo acelerado, y cada vez estamos más cerca de hacer realidad
                este sueño. Las ciudades submarinas podrían ofrecer una solución
                a los problemas que enfrentamos en tierra firme y abrir nuevas
                fronteras para la exploración humana.
            </p>
        </div>
    </body>
    <Footer />
</Layout>
<style>
    body {
        margin: 0px;
        padding: 0px;
        background-image: url("../img/ruidoBackground.png");
        background-color: gainsboro;
    }
    .articulo {
        margin: auto;
        margin-top: 1em;
        background-color: whitesmoke;
        width: 75%;
        padding: 2em;
        border-radius: 0.5em;
        line-height: auto;
    }
    body.dark .articulo{
        background-color: rgb(12, 0, 78);
        background-image: url("../img/ruidoBackground.png");
    }
    .fecha {
        display: flex;
        flex-flow: row-reverse;
        flex-direction: end;
    }
    p {
        font-weight: 500;
        line-height: 1.5em;
    }
    body.dark p{
        color: gainsboro;
    }
    h3{
        font-weight: 900;
    }
    body.dark h3{
        color: gainsboro;
    }
    body.dark h2{
        color: gainsboro;
    }
    body.dark h1{
        color: gainsboro;   
    }
    .imagen {
        width: 100%;
        height: 350px;
        background-color: rgb(51, 51, 51);
    }
    .img-1 {
        width: 500px;
        height: 350px;
        background-image: url("../img/img-2/ciudad-sub.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
    }
    .img-2 {
        width: 500px;
        height: 350px;
        background-image: url("../img/img-2/ciudad1.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
    }
    .img-3 {
        width: 500px;
        height: 350px;
        background-image: url("../img/img-2/sub2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
    }
    /* MENU --------------------------------------*/
    .barra {
        display: none;
        width: 100%;
        background-color: rgb(0, 0, 175);
        height: 160px;
        text-align: center;
        padding-top: 1em;
    }
    .barra img {
        max-width: 95%;
        height: 80%;
    }
    .nav-pop {
        visibility: hidden;
    }
    @media (max-width: 750px) {
        .nav-fija {
            display: none;
        }
        .nav-pop {
            visibility: visible;
            width: 100%;
            background-color: rgba(0, 58, 159, 0.567);
        }
        .navs {
            visibility: visible;
        }
        .barra {
            display: block;
        }
    }
</style>
