---
import Layout from "../layouts/Layout.astro";
import NavFija from "../components/NavFija.astro";
import Dropdown from "../components/Dropdown.astro";
import Footer from "../components/Footer.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Blog Economic Sales de Mexico">
    <!-- MENU -->
    <div class="barra">
        <!--<img src="#">  -->
    </div>
    <div class="nav-fija">
        <NavFija />
    </div>
    <div class="nav-pop">
        <Dropdown />
    </div>
    <!-- MENU -->
    <div class="boton-dark">
        <DarkMode />
    </div>
    <body>
        <div class="articulo">
            <h1>Ecotecnología: Cuando la Tecnología y el Planeta se Unen</h1>
            <hr />
            <h2>
                La tecnología, un motor de innovación constante, está
                experimentando una transformación profunda. Cada vez más
                empresas tecnológicas están integrando prácticas sostenibles en
                sus procesos de producción y diseño de productos.
            </h2>
            <div class="fecha">
                <p>Por Mario Sanchez - 30/Agosto/24</p>
            </div>
            <p>
                En este artículo, exploraremos cómo algunas de las marcas más
                reconocidas a nivel mundial, como <b>Apple, Microsoft, Lenovo,
                Dell, entre muchas otras mas</b> y <b>líderes en movilidad eléctrica,
                están contribuyendo a un futuro más verde</b>. Además, analizaremos
                el papel de compañías como <b>Epson y Lexmark</b> en la revolución
                sostenible de la impresión.
            </p>
            <div class="imagen">
                <div class="imagen-1"></div>
            </div>
            <h3>¿Qué es la Ecotecnología?</h3>
            <p>
                La ecotecnología engloba todas aquellas tecnologías que buscan
                minimizar el impacto ambiental en su ciclo de vida completo,
                desde la extracción de materias primas hasta la disposición
                final de los productos.<br /><br />

                <b>Beneficios:</b> Reducción de la huella de carbono o Ahorro de
                energía y recursos naturales o Promoción de la economía circular
                o Mejora de la calidad del aire y del agua
            </p>

            <h4>Cómo Elegir Productos Eco-Friendly:</h4>
            <p>
                <div class="remarcar">
                    <b>Certificaciones:</b> Busca productos con certificaciones ambientales
                    como Energy Star o Ecolabel.
                </div>

                <div class="remarcar">
                    <b> Materiales:</b> Opta por dispositivos fabricados con materiales
                    reciclados o biodegradables.
                </div>

                <div class="remarcar">
                    <b>Duración:</b> Invierte en productos duraderos para reducir
                    la generación de residuos electrónicos.
                </div>

                <div class="remarcar">
                    <b>Consumo de energía:</b> Compara el consumo energético de diferentes
                    modelos antes de realizar una compra.
                </div>
            </p>
            <div class="imagen">
                <div class="imagen-3"></div>
            </div>

            <h3>Líderes Tecnológicos</h3>
            <p>
            <b>Gigantes de la computación:</b>
            Han implementado iniciativas para reducir su huella de carbono, desde
            el uso de energías renovables en sus centros de datos hasta la fabricación
            de productos con materiales reciclados. <br /><br />
            
            <b>Movilidad eléctrica:</b> Empresas como <b>Tesla, Nissan y Volkswagen</b
            >
            están liderando la transición hacia un transporte más limpio y eficiente,
            desarrollando vehículos eléctricos con baterías de mayor duración y menor
            impacto ambiental.<br /><br />
            
            <b>Impresión sostenible:</b>
            <b>Epson y Lexmark</b> se destacan por sus impresoras de tinta que consumen
            menos energía y utilizan cartuchos recargables, reduciendo significativamente
            la generación de residuos.<br /><br />
            </p>
            
            <div class="imagen">
            <div class="imagen-4"></div>
        </div>
        <!-- hacer flexbox vertical de 3 columnas -->
        <h3>Apple, Microsoft y Lenovo: Líderes en Sostenibilidad</h3>
        <div class="flex">
            <div class="apple">
                <h4>Apple</h4>
                <p>
                    Destaca cómo Apple está utilizando cada vez más aluminio
                    reciclado en sus productos, así como otros materiales como
                    el vidrio y la fibra de carbono.<br><br>
                    
                    <b>Energía renovable:</b>
                    Explica cómo Apple se ha comprometido a utilizar energía
                    100% renovable en todas sus operaciones y cómo está
                    invirtiendo en proyectos de energía solar y eólica a gran
                    escala. <br><br>

                    <b> Embalaje sostenible</b> Menciona el uso de fibra de
                    madera reciclada en sus cajas y la eliminación gradual del
                    plástico.
                </p>
            </div>
            <div class="microsoft">
                <h4>Microsoft</h4>
                <p>
                    Profundiza en la iniciativa de Microsoft de convertirse en
                    una empresa carbono negativa para 2030, lo que implica
                    eliminar más carbono del ambiente del que emite.<br><br>

                    <b>Sostenibilidad en la nube:</b> Explica cómo Microsoft está
                    haciendo que sus servicios en la nube sean más eficientes
                    energéticamente y cómo está ayudando a sus clientes a
                    reducir su propia huella de carbono.<br><br>

                    <b> IA para la sostenibilidad</b> Destaca cómo Microsoft está utilizando la
                    inteligencia artificial para desarrollar soluciones
                    sostenibles, como la predicción de la demanda de energía y
                    la optimización de las cadenas de suministro.
                </p>
            </div>
            <div class="lenovo">
                <h4>Lenovo</h4> 
                <p> 
                    Presenta los productos
                    ecológicos de Lenovo, como las computadoras portátiles con
                    certificación Energy Star y los monitores con bajo consumo
                    de energía. o Reciclaje y recuperación: Explica los
                    programas de reciclaje y recuperación de productos que
                    ofrece Lenovo para reducir los residuos electrónicos. o
                    Sostenibilidad en la cadena de suministro: Menciona los
                    esfuerzos de Lenovo para garantizar que sus proveedores
                    cumplan con altos estándares ambientales y sociales.
                </p>
            </div>
        </div>
        <p>
            <h3>
                Políticas Gubernamentales de Sostenibilidad en el Sector
                Tecnológico
            </h3>
            <h4>Incentivos fiscales:</h4>
            <p>
                Explica cómo los gobiernos están utilizando incentivos fiscales
                para fomentar la inversión en tecnologías limpias y la adopción
                de prácticas sostenibles por parte de las empresas tecnológicas.
            </p>
            
            <h4>Regulaciones ambientales:</h4>
            <p>
                Describe las regulaciones gubernamentales que buscan reducir el
                impacto ambiental de los productos electrónicos, como las normas
                de eficiencia energética y las restricciones al uso de
                sustancias peligrosas. <br />
            </p>
            <h4>Objetivos de desarrollo sostenible:</h4>
            <p>
                Conecta las políticas gubernamentales con los Objetivos de
                Desarrollo Sostenible (ODS) de las Naciones Unidas, mostrando
                cómo la tecnología puede desempeñar un papel clave en la
                consecución de estos objetivos.
            </p><br /><br />
            
            <!-- hacer flexbox -->
            <h3>El Futuro de la Ecotecnología:</h3>
            <p>
                Explora las últimas tendencias en ecotecnología, como la <b>
                    inteligencia artificial aplicada a la sostenibilidad, la
                    impresión 3D de materiales biodegradables</b
                    > y las ciudades inteligentes. <br />
                    
                    Algunos retos serian analizaz los desafíos que enfrenta la
                    industria tecnológica para alcanzar una sostenibilidad completa,
                    como la gestión de los residuos electrónicos y la garantía de
                    que las prácticas sostenibles no comprometan la calidad de los
                    productos.<br /><br /><b>
                        La ecotecnología está transformando la forma en que vivimos
                        y trabajamos.</b
                        >
                        Al elegir productos y servicios de empresas comprometidas con la
                        sostenibilidad, los consumidores pueden contribuir a un futuro más
                        limpio y saludable para todos.
                    </p>
                </p>
            </body>
        </div>
    </div>
        <Footer />

    <style>
        body {
            margin: 0px;
            padding: 0px;
            background-image: url("../img/ruidoBackground.png");
            background-color: gainsboro;
        }
        .articulo {
            margin: auto;
            margin-top: 1em;
            background-color: whitesmoke;
            width: 75%;
            padding: 2em;
            border-radius: 0.5em;
            line-height: auto;
        }
        .imagen-1 {
            width: 100%;
            height: 370px;
            background-image: url("../img/img-6/basurero.jpg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: auto;
        }
        .imagen-2 {
            width: 100%;
            height: 370px;
            background-image: url("../img/img-6/botella.jpg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: auto;
        }
        .imagen-3 {
            width: 100%;
            height: 370px;
            background-image: url("../img/img-6/biodegradacion.jpg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: auto;
        }
        .imagen-4 {
            width: 100%;
            height: 370px;
            background-image: url("../img/img-6/reciclando.jpg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: auto;
        }
        .remarcar {
            background-image: url("../img/ruidoBackground.png");
            background-color: lightskyblue;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 1em;
            border-radius: 1em;
            margin: 1em;
        }
        .flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            align-content: flex-start;
            width: 100%;
            /*background-color: #26007d;*/
            height: auto;
            overflow: none;
            flex-direction: row;
            border-radius: 1em;
        }
        .flex div {
            width: 450px;
            height:auto;
            margin: 20px;
            background-color: rgb(173, 230, 192);
            border-radius: 1em;
            padding: 2em;
            transition: transform 0.2s ease;
            background-image: url("../img/ruidoBackground.png");
            background-repeat: no-repeat;
            background-size: cover;
            cursor: crosshair;
        }
        
        .flex div:hover {
            transform: scale(1.1);
            background-color: rgb(77, 225, 126);
        }
        body.dark .flex div {
            background-color: rgb(50, 0, 188);
            color: whitesmoke;
        }
        body.dark .articulo {
            background-color: rgb(12, 0, 78);
            /*background-image: url("../img/ruidoBackground.png");*/
        }
        .fecha {
            display: flex;
            flex-flow: row-reverse;
            flex-direction: end;
        }
        body.dark .fecha p {
            color: rgb(161, 161, 161);
        }
        p {
            font-weight: 500;
            line-height: 1.5em;
        }
        body.dark p {
            color: gainsboro;
        }
        h3 {
            font-size: 1.5em;
        }
        body.dark h3 {
            font-weight: 900;
            font-size: 1.5em;
        }
        h4 {
            font-weight: 900;
            font-size: 1.3em;
        }
        body.dark h4 {
            /*color: rgb(56, 166, 255);*/
            color: rgb(74, 174, 255);
        }
        body.dark h2 {
            color: gainsboro;
        }
        body.dark h1 {
            color: gainsboro;
        }
        body.dark b {
            /*color: rgb(168, 254, 225);*/
            /*color: aqua;*/
            color: rgb(140, 234, 255);
        }
        .imagen {
            width: 100%;
            height: 370px;
            /*background-color: rgb(51, 51, 51);*/
        }
        body.dark .imagen {
            /* background-color: rgb(240, 240, 240);*/
        }

        h3 {
            color: darkblue;
        }
        body.dark h3 {
            color: rgb(0, 208, 255);
        }
        /* MENU --------------------------------------*/

        .barra {
            display: none;
            width: 100%;
            /*background-color: rgb(0, 0, 175);*/
            background-color: gainsboro;
            height: 160px;
            text-align: center;
            padding-top: 1em;
            background-image: url("../img/Logo_ES_Post.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        /*.barra img {
        max-width: 95%;
        height: 200px;
    }*/
        .nav-pop {
            visibility: hidden;
        }
        @media (max-width: 750px) {
            .nav-fija {
                display: none;
            }
            .nav-pop {
                visibility: visible;
                width: 100%;
                background-color: rgba(0, 58, 159, 0.567);
            }
            .navs {
                visibility: visible;
            }
            .barra {
                display: block;
            }
        }
        @media (max-width:470px){
            .flex div{
                margin: 5px;
                margin-top: 30px;
                padding: 1em;
            }
            .flex div p{
                font-size: .9rem;
            }
        }
    </style>
</Layout>
