---
import Layout from "../layouts/Layout.astro";
import NavFija from "../components/NavFija.astro";
import Dropdown from "../components/Dropdown.astro";
import Footer from "../components/Footer.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Blog Economic Sales de Mexico">
    <!-- MENU -->
    <div class="barra">
        <!--<img src="#">  -->
    </div>
    <div class="nav-fija">
        <NavFija />
    </div>
    <div class="nav-pop">
        <Dropdown />
    </div>
    <!-- MENU -->
    <div class="boton-dark">
        <DarkMode />
    </div>
    <body>
        <div class="articulo">
            <h1>Un mundo asfixiado. El Problema de la Basura</h1>
            <hr />
            <h2>
                ¿Recuerdas la desoladora imagen de la Tierra en Wall-E,
                completamente cubierta de basura? Aquella visión futurista, que
                en su momento nos pareció exagerada, hoy se nos presenta como
                una posible realidad si no tomamos medidas urgentes.
            </h2>
            <div class="fecha">
                <p>Por Andrea Zenteno - 28/Agosto/24</p>
            </div>
            <p>
                La película de Pixar nos mostró un planeta asfixiado por los
                residuos, con océanos de basura y una atmósfera contaminada.
                Aunque nuestra situación actual no es tan extrema, la
                problemática de los desechos es una de las mayores crisis
                ambientales que enfrentamos.
            </p><br /><br />
            <h3>Nuestros residuos</h3>
            <p>
                <b
                    >¿Te has preguntado qué pasa con todo aquello que desechas,
                    que no usas o incluso, todo lo que se desechó para tener lo
                    que tienes alrededor tuyo?</b
                ><br /><br />
                Cada acción que realizamos y cada producto que consumimos, genera
                al menos un tipo de residuo que no siempre, es perceptible para nosotros
                a por su forma o porque se genera de manera indirecta a nosotros.
            </p>
            <p>
                Los desechos han estado acompañándonos desde el origen de la
                vida en la Tierra, pero la naturaleza siempre ha hecho la labor
                sucia de limpiarlos y es por ello que no los notamos; a esto los
                conocemos como biodegradabilidad, el cual es un atributo
                fundamental de la vida, ya que todo ser vivo, en algún momento,
                regresa a la tierra. Los productos biodegradables imitan este
                proceso natural, descomponiéndose en elementos inofensivos para
                el medio ambiente; sin embargo, también existen los productos no
                biodegradables, que, por el contrario, desafían las leyes de la
                naturaleza.<br /><br />

                Son como cuerpos extraños que resisten la descomposición, que
                aunque en un principio suene como ventaja, en realidad es una
                grave amenaza para nuestro planeta, contribuyendo a la
                contaminación de suelos, aguas y aire durante siglos por las
                grandes cantidades de gases nocivos que generan, dejándonos como
                consecuencias el incremento del efecto invernadero, el aumento
                de las temperaturas, climas extremos, la elevación del nivel del
                mar, la pérdida de biodiversidad, la acidificación de los
                océanos, problemas en la agricultura y problemas en nuestra
                salud.
            </p><br /><br />

            <h4>
                Es importante tener en cuenta qué tipo de residuos generamos y
                por ello te enlisto algunos ejemplos:
            </h4>
            <p>
                <b>Residuos electrónicos 📱:</b> Contienen sustancias tóxicas como
                plomo, mercurio y cadmio que contaminan el suelo y el agua al ser
                desechados incorrectamente. <br /><br />

                <b>Pilas y baterías 🔋:</b> Contienen metales pesados que pueden
                filtrarse al suelo y contaminar acuíferos. Si se incineran, liberan
                gases tóxicos a la atmósfera. <br /><br />

                <b>Residuos orgánicos 🍎:</b> Cuando se descomponen en vertederos,
                generan metano, un potente gas de efecto invernadero que contribuye
                al cambio climático. <br /><br />

                <b>Residuos de construcción y demolición 🏗️:</b> Generan grandes
                cantidades de polvo y partículas que contaminan el aire. Si no se
                gestionan adecuadamente, pueden contaminar el suelo y el agua. <br
                /><br />

                <b>Residuos industriales 🏭:</b> Pueden contener sustancias químicas
                peligrosas que contaminan el suelo, el agua y el aire. Contribuyen
                a la acidificación de los océanos y a la destrucción de la capa de
                ozono. <br /><br />

                <b>Residuos sanitarios 💧:</b> Los residuos hospitalarios y farmacéuticos
                pueden contener agentes patógenos y sustancias químicas peligrosas
                que requieren un manejo especial. <br /><br />

                <b>Microfibras 🧽: </b> Pequeñas fibras de plástico liberadas por
                las prendas sintéticas durante el lavado, que contaminan los océanos
                y se acumulan en la cadena alimentaria. <br /><br />

                <b>Microplásticos 🥤:</b> Fragmentos de plástico cada vez más pequeños
                que se encuentran en todos los rincones del planeta, desde las profundidades
                marinas hasta la cadena alimentaria.
            </p>
            <br /><br />
            <hr />
            <br /><br />
            <h3>Tecnologías para Combatir la Basura</h3>
            <p>
                Afortunadamente, no todo está perdido. La ciencia y la
                tecnología están desarrollando soluciones innovadoras para hacer
                frente al problema de la basura:
            </p>
            <p>
                <b>• Biodegradación acelerada:</b>
                Investigadores están desarrollando microorganismos y enzimas capaces
                de descomponer plásticos y otros materiales no biodegradables en
                un tiempo mucho más corto.<br /><br />

                <b>• Reciclaje avanzado:</b> Nuevas tecnologías permiten reciclar
                materiales que antes eran difíciles de procesar, como los plásticos
                mixtos.<br /><br />

                <b>• Economía circular:</b> Este modelo de producción y consumo busca
                minimizar la generación de residuos y maximizar la reutilización
                de los materiales. <br /><br />

                <b>• Impresión 3D:</b> La fabricación aditiva permite crear productos
                personalizados con menos material y menos residuos.
            </p><br /><br />
            <h4>
                La solución al problema de la basura no es sencilla y requiere
                un cambio de paradigma en la forma en que producimos y
                consumimos. Sin embargo, existen muchas acciones que podemos
                llevar a cabo a nivel individual y colectivo:
            </h4><br /><br />
            <!-- flexbox -->
            <div class="flex">
                <div class="num1">
                    <b>1) REDUCIR<br /><br /> Minimizar el consumo de productos
                    desechables y optar por alternativas reutilizables.</b>
                </div>
                <div class="num2">
                    <b>2) REUTILIZAR <br /><br />Dar una segunda vida a los
                    objetos y evitar desecharlos prematuramente. </b>
                </div>
                <div class="num3">
                    <b>3) RECICLAR ♻️ <br /><br />Separar los residuos y
                    depositarlos en los contenedores correspondientes.</b>
                </div>
                <div class="num4">
                    <b>4) COMPOSTAR<br /><br /> Transformar los residuos orgánicos
                    en abono para enriquecer el suelo.</b>
                </div>
                <div class="num5">
                    <b>5) EXIGIR A LAS EMPRESAS <br /><br /> Apoyar a aquellas empresas
                    que adopten prácticas sostenibles y reduzcan su impacto ambiental.</b>
                </div>
            </div>
            <h4>
                Wall-E nos mostró un futuro desolador, pero también nos inspiró
                a tomar acción. El futuro de nuestro planeta está en nuestras
                manos.
            </h4>
        </div>
    </body>
    <Footer />
</Layout>

<style>
    body {
        margin: 0px;
        padding: 0px;
        background-image: url("../img/ruidoBackground.png");
        background-color: gainsboro;
    }
    .articulo {
        margin: auto;
        margin-top: 1em;
        background-color: whitesmoke;
        width: 75%;
        padding: 2em;
        border-radius: 0.5em;
        line-height: auto;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        /*background-color: #26007d;*/
        height: auto;
        overflow: auto;
        flex-direction: row;
        border-radius: 1em;
    }
    .flex div {
        width: 210px;
        height: 160px;
        margin: 20px;
        background-color: rgb(173, 230, 192);
        border-radius: 1em;
        padding: 2em;
        transition: transform .2s ease;
        background-image: url('../img/ruidoBackground.png');
        background-repeat: no-repeat;
        background-size: cover;
        cursor:crosshair;
    }
    .flex div:hover {
        transform: scale(1.1);
        background-color: rgb(77, 225, 126);   
    }
    body.dark .flex div {
        background-color: rgb(50, 0, 188);
        color: whitesmoke;
    }
    body.dark .articulo {
        background-color: rgb(12, 0, 78);
        /*background-image: url("../img/ruidoBackground.png");*/
    }
    .fecha {
        display: flex;
        flex-flow: row-reverse;
        flex-direction: end;
    }
    body.dark .fecha p {
        color: rgb(161, 161, 161);
    }
    p {
        font-weight: 500;
        line-height: 1.5em;
    }
    body.dark p {
        color: gainsboro;
    }
    h3 {
        font-weight: 900;
        font-size: 1.5em;
    }
    h4 {
        font-weight: 900;
        font-size: 1.3em;
    }
    body.dark h4 {
        /*color: rgb(56, 166, 255);*/
        color: rgb(74, 174, 255);
    }
    body.dark h2 {
        color: gainsboro;
    }
    body.dark h1 {
        color: gainsboro;
    }
    body.dark b {
        /*color: rgb(168, 254, 225);*/
        /*color: aqua;*/
        color: rgb(140, 234, 255);
    }
    .imagen {
        width: 100%;
        height: 370px;
        /*background-color: rgb(51, 51, 51);*/
    }
    body.dark .imagen {
        background-color: rgb(240, 240, 240);
        padding: 1em;
        border-radius: 1em;
    }

    h3 {
        color: darkblue;
    }
    body.dark h3 {
        color: rgb(0, 208, 255);
    }
    /* MENU --------------------------------------*/

    .barra {
        display: none;
        width: 100%;
        /*background-color: rgb(0, 0, 175);*/
        background-color: gainsboro;
        height: 160px;
        text-align: center;
        padding-top: 1em;
        background-image: url("../img/Logo_ES_Post.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    /*.barra img {
        max-width: 95%;
        height: 200px;
    }*/
    .nav-pop {
        visibility: hidden;
    }
    @media (max-width: 750px) {
        .nav-fija {
            display: none;
        }
        .nav-pop {
            visibility: visible;
            width: 100%;
            background-color: rgba(0, 58, 159, 0.567);
        }
        .navs {
            visibility: visible;
        }
        .barra {
            display: block;
        }
    }
</style>
