---
import Layout from "../layouts/Layout.astro";
import NavFija from "../components/NavFija.astro";
import Dropdown from "../components/Dropdown.astro";
import Footer from "../components/Footer.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Blog Economic Sales de Mexico">
    <!-- MENU -->
    <div class="barra">
        <!--<img src="#">  -->
    </div>
    <div class="nav-fija">
        <NavFija />
    </div>
    <div class="nav-pop">
        <Dropdown />
    </div>
    <!-- MENU -->
    <div class="boton-dark">
        <DarkMode />
    </div>
    <body>
        <div class="articulo">
            <h1>Un recorrido histórico por el desarrollo de las tablets</h1>
            <hr />
            <h4>
                Desde la visión utópica de Alan Kay hasta los potentes
                dispositivos que tenemos hoy en día, las tablets han recorrido
                un largo camino. En este artículo, exploraremos la fascinante
                historia de cómo estas pequeñas computadoras portátiles se
                convirtieron en una parte esencial de nuestra vida diaria. Desde
                los primeros prototipos hasta las últimas innovaciones, te
                mostraremos cómo la tecnología ha evolucionado para ofrecerte
                una experiencia cada vez más inmersiva y portátil.
            </h4>
            <div class="fecha">
                <p>Por Mario Sanchez - 28/Octubre/24</p>
            </div>

            <div class="imagen imagen-1"></div>
            <p>
                <b>¿Recuerdas cuando las computadoras eran enormes máquinas que
                solo estaban en oficinas?</b> La idea de tener una computadora
                portátil en nuestras manos era ciencia ficción. <br><br>
                Pero la tecnología avanzó a pasos agigantados, y hoy en día, las tablets
                son una extensión de nosotros mismos. <b>¿Cómo llegamos hasta aquí?</b><br
                /><br />
                <b>¡Embárcate en este viaje a través de la historia de las tablets</b>
            </p>
            <div class="imagen imagen-2"></div>
            <h2>Contexto Histórico</h2>
            <div class="remarcar">
                <p>
                    La visión de Alan Kay: Presenta a Alan Kay como el
                    visionario detrás del concepto de "Dynabook", una
                    computadora portátil y personal que permitiera a cada
                    estudiante tener acceso a toda la información del mundo.
                </p>
            </div>
            <div class="remarcar">
                <p>
                    Los primeros intentos: Menciona los primeros prototipos de
                    tablets, como el Apple Newton, y explica por qué no lograron
                    despegar en el mercado.
                </p>
            </div>
            <div class="remarcar">
                <p>
                    La revolución del iPad: Detalla cómo el lanzamiento del iPad
                    en 2010 cambió las reglas del juego, popularizando el
                    concepto de tablet y estableciendo un nuevo estándar para la
                    industria.
                </p>
            </div>
            <div class="remarcar">
                <p>
                    La competencia se une: Explica cómo otros fabricantes, como
                    Samsung, entraron en el mercado y cómo esto impulsó la
                    innovación y la variedad de opciones para los consumidores.
                </p>
            </div>

            <h2>Top tablets</h2>
            <h3>1. Apple iPad</h3>
            <div class="imagen imagen-ipad"></div>
            <div class="remarcar-2">
                <h4>Características</h4>
                <hr />
                <p>
                    ◉ Diseño premium y materiales de alta calidad. <br />
                    ◉ Pantalla Retina con colores vibrantes y alta resolución.<br
                    />
                    ◉ Chip A-series de alto rendimiento.<br />
                    ◉ Sistema operativo iOS, altamente optimizado y seguro. o Amplia
                    gama de accesorios (Apple Pencil, teclado, etc.).
                </p>
            </div>
            <div class="remarcar-2">
                <p>
                    <b>Ventajas:</b>
                    <br /><br />
                    ✓ Ecosistema integrado con otros dispositivos Apple.<br />
                    ✓ Excelente rendimiento en tareas creativas y profesionales.<br
                    />
                    ✓ Gran calidad de construcción y durabilidad.<br /><br />
                    <b>Desventajas:</b>
                    <br /><br />
                    ✕ Precio elevado en comparación con otras marcas.<br />
                    ✕ Menor flexibilidad en cuanto a personalización del sistema
                    operativo.<br />
                </p>
            </div>
            <div class="remarcar-2">
                <p>
                    <b>Usuario Destinado: </b><br /><br />
                    o Profesionales creativos (diseñadores, artistas, etc.).<br
                    />
                    o Estudiantes universitarios.<br />
                    o Usuarios que buscan una experiencia premium y un ecosistema
                    integrado.
                </p>
            </div>
            <h3>2. Samsung Galaxy Tab</h3>
            <div class="imagen imagen-samsung"></div>
            <div class="remarcar-2">
                <h4>Características:</h4>
                <hr />
                <p>
                    ◉ Diseño elegante y variedad de tamaños de pantalla.<br />
                    ◉ Pantalla Super AMOLED con colores vivos y alto contraste.<br
                    />
                    ◉ Procesador Exynos o Snapdragon de alta gama.<br />
                    ◉ Sistema operativo Android con One UI, personalización profunda.<br
                    />
                    ◉ S Pen incluido en algunos modelos para escritura y dibujo.
                </p>
            </div>
            <div class="remarcar-2">
                <p>
                    <b>Ventajas:</b>
                    <br /><br />
                    ✓ Excelente relación calidad-precio en algunos modelos.<br
                    />
                    ✓ Amplia variedad de opciones para elegir.<br />
                    ✓ Integración con otros dispositivos Samsung.<br />
                    <b>Desventajas: </b><br /><br />
                    ✕ Software puede ser menos fluido que iOS en algunos casos.<br
                    />
                    ✕ Menor duración de batería en comparación con algunos iPad.
                </p>
            </div>
            <div class="remarcar-2">
                <p>
                    <b> Usuario Destinado: </b><br /><br />
                    ◎ Usuarios que buscan una tablet versátil para el día a día.<br
                    />
                    ◎ Estudiantes y profesionales que necesitan productividad y entretenimiento.
                </p>
            </div>
            <h3>3. Xiaomi Pad</h3>
            <div class="imagen imagen-xiaomi"></div>
            <div class="remarcar-2">
                <h4>Características:</h4>
                <hr />
                <p>
                    ◉ Diseño atractivo y construcción sólida.<br />
                    ◉ Pantalla LCD o AMOLED de alta calidad.<br />
                    ◉ Procesador Snapdragon de gama media o alta.<br />
                    ◉ Sistema operativo Android con MIUI, personalización profunda.<br
                    />
                    ◉ Excelente relación calidad-precio.
                </p>
            </div>
            <div class="remarcar-2">
                <p>
                    <b>Ventajas:</b>
                    <br />
                    <br />
                    ✓ Gran valor por el dinero.<br />
                    ✓ Buen rendimiento en tareas básicas y multimedia.<br />
                    <br />
                    <b>Desventajas:</b>
                    <br />
                    <br />
                    ✕ Menor disponibilidad de accesorios oficiales.<br />
                    ✕ Software puede incluir algunas aplicaciones preinstaladas.
                </p>
            </div>
            <div class="remarcar-2">
                <p>
                    <b>Usuario Destinado:</b><br /><br />
                    ◎ Usuarios con un presupuesto limitado que buscan una tablet
                    funcional.<br />
                    ◎ Estudiantes y jóvenes que buscan una tablet para entretenimiento.
                </p>
            </div>
            <h3>4. Lenovo Tab</h3>
            <div class="imagen imagen-lenovo"></div>
            <div class="remarcar-2">
                <h4>Características:</h4>
                <hr>
                <p>
                    ◉ Diseño tradicional y construcción sólida.<br />
                    ◉ Pantalla IPS o AMOLED de buena calidad.<br />
                    ◉ Procesador MediaTek o Snapdragon de gama media.<br />
                    ◉ Sistema operativo Android con una interfaz personalizada.<br
                    />
                    ◉ Opciones más económicas.
                </p>
            </div>
            <div class="remarcar-2">
                <p>
                    <b> Ventajas:</b>
                    <br /><br />
                    ✓ Buena duración de batería.<br />
                    ✓ Opciones con teclado físico incluido.<br /><br />

                    <b>Desventajas: </b><br /><br />
                    ✕ Diseño menos atractivo que otras marcas.<br />
                    ✕ Software puede ser menos fluido.
                </p>
            </div>
            <div class="remarcar-2">
                <p>
                    <b>Usuario Destinado:</b>
                    <br /><br />
                    ◎ Usuarios que priorizan la duración de la batería y un teclado
                    físico.<br />
                    ◎ Usuarios que buscan una tablet para tareas básicas y consumo
                    de contenido.
                </p>
            </div>
        </div>
        <Footer />
        <style>
            body {
                margin: 0px;
                padding: 0px;
                background-image: url("../img/ruidoBackground.png");
                background-color: gainsboro;
            }
            h1 {
                text-shadow:
                    1px 1px 0px rgb(32, 199, 255),
                    1px -1px 0px rgb(47, 32, 255),
                    -1px 1px 0px rgb(181, 32, 255);
            }
            h2{
                color: rgb(13, 0, 109);
                text-align: center;
                font-weight: 700;
                font-size: 2.5em;
                text-shadow: 2px 2px 1px rgb(195, 195, 195), -2px 2px 1px rgb(255, 255, 255),2px -2px 1px rgb(220, 220, 220)
            }
            body.dark h2{
                text-shadow: 0px 0px 10px rgb(37, 37, 37);
            }
            .articulo {
                margin: auto;
                margin-top: 1em;
                background-color: whitesmoke;
                width: 75%;
                padding: 2em;
                border-radius: 0.5em;
                line-height: auto;
            }
            .custom {
                border: none; /* Elimina el borde predeterminado */
                /*  border-top: 2px dashed #00c6cd;*/
                border-top: 2px dashed #020077;
            }
            body.dark .custom {
                border-top: 2px dashed #0031a5;
            }
            .grupoimg {
                display: flex;
                gap: 15px;
                flex-flow: row;
            }
            /*  .remarcar {
                background-image: url("../img/ruidoBackground.png");
                background-color: lightskyblue;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding: 1em;
                border-radius: 1em;
                margin: 1em;
            }*/
            .imagen-1 {
                width: 90%;
                height: 380px;
                background-image: url("../img/img-20/img-24/tab1.jpg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: auto;
                border-radius: 1em;
                background-color: #0031a5;
            }
            .imagen-2 {
                width: 50%;
                height: 350px;
                background-image: url("../img/img-20/img-24/tab2.jpg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: auto;
                transition: 0.3s ease-in-out;
            }
            .imagen-2:hover {
                transform: scale(1.3);
            }
            .imagen-ipad {
                width: 100%;
                height: 350px;
                background-image: url("https://www.apple.com/v/ipad-pro/ar/images/overview/highlights/chip__fj2i2rsn8jee_large_2x.jpg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: auto;
                border-radius: 1em;
                transition: 0.3s ease-in-out;
            }
            .imagen-samsung {
                width: 95%;
                height: 350px;
                background-image: url("https://images.samsung.com/is/image/samsung/assets/mx/tablets/galaxy-tab-s10/buy/Size_KV_PC_1600x864.jpg?imbypass=true");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: auto;
                border-radius: 1em;
                transition: 0.3s ease-in-out;
            }
            .imagen-xiaomi {
                width: 95%;
                height: 350px;
                background-image: url("https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-pad-6/pc/affec6708dec44e55cf37b670bfed5b7.jpg?f=webp   ");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: auto;
                border-radius: 1em;
                transition: 0.3s ease-in-out;
            }
            .imagen-lenovo {
                width: 95%;
                height: 350px;
                background-image: url("https://p1-ofp.static.pub//fes/cms/2024/08/28/ovszqila09sox2g3sy8pp1rzdv6xl9257578.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: auto;
                border-radius: 1em;
                transition: 0.3s ease-in-out;
            }
      

            .remarcar {
                background-image: url("../img/ruidoBackground.png");
                background-color: lightskyblue;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding: 1em;
                border-radius: 1em;
                margin: 0.5em;
                box-shadow: 3px 3px 0 rgb(0, 3, 48);
                text-shadow: 2px 2px 5px rgb(106, 161, 255);
                text-align: center;
            }
            .remarcar-2 {
                background-image: url("../img/ruidoBackground.png");
                background-color: rgb(220, 220, 220);
                background-size: cover;
                background-position: center;
                padding: 1em;
                border-radius: 1em;
                margin: 0.5em;
                box-shadow: 3px 3px 0 rgb(0, 3, 48);
                text-shadow: 2px 2px 5px rgb(255, 255, 255);
                text-align: justify;
                font-size: 1.1em;
                font-family: consolas;
            }
            body.dark .remarcar {
                background-color: rgb(0, 142, 94);
                text-shadow: 2px 2px 5px rgb(9, 0, 24);
            }
            body.dark .remarcar-2 {
                background-color: rgb(0, 28, 142);
                text-shadow: 2px 2px 5px rgb(9, 0, 24);
            }
            .flex {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                align-content: flex-start;
                width: 100%;
                /*background-color: #26007d;*/
                height: auto;
                overflow: none;
                flex-direction: row;
                border-radius: 1em;
            }
            .flex div {
                width: 450px;
                height: auto;
                margin: 20px;
                background-color: rgb(173, 230, 192);
                border-radius: 1em;
                padding: 2em;
                transition: transform 0.2s ease;
                background-image: url("../img/ruidoBackground.png");
                background-repeat: no-repeat;
                background-size: cover;
                cursor: crosshair;
            }

            .flex div:hover {
                transform: scale(1.1);
                background-color: rgb(77, 225, 126);
            }
            body.dark .flex div {
                background-color: rgb(50, 0, 188);
                color: whitesmoke;
            }
            body.dark .articulo {
                background-color: rgb(12, 0, 78);
                /*background-image: url("../img/ruidoBackground.png");*/
            }
            .fecha {
                display: flex;
                flex-flow: row-reverse;
                flex-direction: end;
            }
            body.dark .fecha p {
                color: rgb(161, 161, 161);
            }
            p {
                font-weight: 500;
                line-height: 1.6em;
                color: rgb(40, 40, 40);
            }
            body.dark p {
                color: gainsboro;
            }
            h3 {
                font-size: 1.5em;
            }
            body.dark h3 {
                font-weight: 900;
                font-size: 1.5em;
            }
            h4 {
                font-weight: 900;
                font-size: 1.3em;
            }
            body.dark h4 {
                /*color: rgb(56, 166, 255);*/
                color: rgb(74, 174, 255);
            }
            body.dark h2 {
                color: gainsboro;
            }
            body.dark h1 {
                color: gainsboro;
            }
            body.dark b {
                /*color: rgb(168, 254, 225);*/
                /*color: aqua;*/
                color: rgb(140, 234, 255);
            }
            /*  .imagen {
                width: 100%;
                height: 370px;
                /*background-color: rgb(51, 51, 51);
            }
            body.dark .imagen {
                /* background-color: rgb(240, 240, 240);
            }*/
            h3 {
                color: darkblue;
            }
            body.dark h3 {
                color: rgb(0, 208, 255);
            }
            /* MENU --------------------------------------*/

            .barra {
                display: none;
                width: 100%;
                /*background-color: rgb(0, 0, 175);*/
                background-color: gainsboro;
                height: 160px;
                text-align: center;
                padding-top: 1em;
                background-image: url("../img/Logo_ES_Post.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            /*.barra img {
        max-width: 95%;
        height: 200px;
    }*/
            .nav-pop {
                visibility: hidden;
            }
            @media (max-width: 750px) {
                .nav-fija {
                    display: none;
                }
                .nav-pop {
                    visibility: visible;
                    width: 100%;
                    background-color: rgba(0, 58, 159, 0.567);
                }
                .navs {
                    visibility: visible;
                }
                .barra {
                    display: block;
                }
            }
            @media (max-width: 500px) {
                .imagen {
                    width: 100%;
                }
                .remarcar {
                    width: 90%;
                    font-size: 0.85em;
                }
            }
        </style>
    </body></Layout
>
