---
import Layout from "../layouts/Layout.astro";
import NavFija from "../components/NavFija.astro";
import Dropdown from "../components/Dropdown.astro";
import Footer from "../components/Footer.astro";
import DarkMode from "../components/DarkMode.astro";
---

<Layout title="Blog Economic Sales de Mexico">
    <!-- MENU -->
    <div class="barra">
        <!--<img src="#">  -->
    </div>
    <div class="nav-fija">
        <NavFija />
    </div>
    <div class="nav-pop">
        <Dropdown />
    </div>
    <!-- MENU -->
    <div class="boton-dark">
        <DarkMode />
    </div>
    <body>
        <div class="articulo">
            <h1>
                Vive los Juegos Olímpicos de París 2024 con la tecnología más
                avanzada 🥈🥇🥉
            </h1>
            <hr />
            <h2>
                En Economic Sales, sabemos que nuestros clientes son apasionados
                por la tecnología y el deporte. Por eso, queremos compartir
                contigo las últimas novedades que harán de tu experiencia
                olímpica algo inolvidable.🎉🎊
            </h2>
            <div class="fecha">
                <p>Por Juan Sanchez - 05/Agosto/24</p>
            </div>
            <p>
                Los Juegos Olímpicos de París 2024 han llegado y con ellos, una
                revolución tecnológica que está transformando la forma en que
                vivimos el deporte. Desde nuestras casas, podemos sentirnos más
                cerca de la acción que nunca gracias a equipos de última
                generación que nos ofrecen una experiencia inmersiva y
                personalizada. En este artículo, exploraremos las últimas
                tendencias tecnológicas que están haciendo de estos Juegos
                Olímpicos los más innovadores hasta la fecha.
            </p>
            <div class="imagen">
                <div class="img-1"></div>
            </div>
            <p>
                ¿Estás listo para vivir la emoción olímpica como nunca antes?
                Disfruta de cada momento de la competencia. Desde televisores de
                última generación hasta wearables inteligentes, descubre cómo
                puedes convertir tu hogar en el mejor estadio.
            </p>
            <h2>Wearables: Más que un accesorio</h2>
            <div class="imagen">
                <div class="img-3"></div>
            </div>
            <p>
                Los wearables se han convertido en compañeros indispensables
                para los deportistas y entusiastas del fitness. Gracias a
                sensores avanzados, estos dispositivos pueden monitorear una
                amplia variedad de métricas, como frecuencia cardíaca, calorías
                quemadas, distancia recorrida y calidad del sueño. Durante los
                Juegos Olímpicos, los atletas utilizan wearables para optimizar
                su entrenamiento y prevenir lesiones. Para los aficionados, los
                wearables ofrecen una forma divertida y motivadora de mantenerse
                activos y participar en desafíos virtuales junto con otros
                usuarios. Algunos de los beneficios de utilizar wearables
                incluyen:
            </p>
            <p>
                <b></b>• Seguimiento del progreso: Visualiza tus avances y
                establece metas personalizadas. <br /><br />
                <b>• Motivación:</b> Recibe recordatorios para mantenerte activo
                y recompensas por alcanzar tus objetivos. <br /><br />
                <b>• Análisis de datos:</b> Obtén información detallada sobre tu
                rendimiento deportivo.
            </p>
            <br />
            <hr /><br />
            <h3>Smartwatches 📱</h3>
            <p class="watches">
                <b>• Apple Watch Series 8:</b> Con un diseño elegante y una gran
                cantidad de sensores, este smartwatch ofrece seguimiento del ritmo
                cardíaco, ECG, detección de caídas y una amplia variedad de aplicaciones
                de fitness. Precio aproximado: A partir de $15,000 MXN.<br /><br
                />

                <b>• Samsung Galaxy Watch5:</b> Compite directamente con el Apple
                Watch, ofreciendo funciones similares como <b
                    >seguimiento del sueño, SpO2 y resistencia al agua</b
                >. Precio aproximado: <b>A partir de $10,000 MXN.</b><br /><br
                />

                <b>• Garmin Forerunner: </b>
                Diseñado específicamente para corredores y triatletas, los relojes
                Garmin ofrecen <b
                    >métricas detalladas de rendimiento, como VO2 máximo, umbral
                    de lactato y dinámica de carrera</b
                >. Precio aproximado: <b>A partir de $8,000 MXN.</b>
            </p><br />
            <hr /><br />
            <h3>Pulseras de actividad</h3>
            <div class="imagen">
                <div class="img-2"></div>
            </div>
            <p>
                <b>• Fitbit Charge 5:</b> Una opción más económica que los smartwatches,
                pero con funciones sólidas como seguimiento de la actividad,<b
                    >frecuencia cardíaca y SpO2</b
                > . Precio aproximado: <b>$3,500 MXN</b>. <br /><br />

                <b>• Xiaomi Mi Band 7:</b> Una pulsera de actividad muy popular por
                su excelente relación calidad-precio, ofreciendo seguimiento de la
                actividad, sueño y notificaciones. Precio aproximado: <b
                    >$1,500</b
                >
            </p>
            <br />
            <hr /><br />
            <h3>Tecnología a considerar en wearables deportivos:</h3>
            <p>
                <b>• GPS:</b> Esencial para rastrear tus rutas de carrera o ciclismo.
                <br /><br />

                <b>• Monitoreo de la frecuencia cardíaca:</b> Te ayuda a controlar
                la intensidad de tus entrenamientos. <br /><br />

                <b>• Seguimiento del sueño: </b>Te proporciona información sobre
                la calidad de tu sueño y te ayuda a establecer una rutina de
                sueño saludable. <br /><br />

                <b>• Resistencia al agua: </b>Ideal para actividades acuáticas
                como natación. <br /><br />

                <b>• Aplicaciones y compatibilidad:</b> Asegúrate de que el wearable
                sea compatible con tu smartphone y ofrezca las aplicaciones que necesitas.
            </p>

            <h2>Smart TV: La ventana a los Juegos Olímpicos</h2>
            <div class="imagen">
                <div class="img-5"></div>
            </div>
            <p>
                Las Smart TV han evolucionado significativamente en los últimos
                años, ofreciendo una calidad de imagen y sonido sin precedentes.<br
                /><br />
                Gracias a tecnologías como <b>HDR, Dolby Vision y 8K</b>,
                podemos disfrutar de los <b>Juegos Olímpicos</b> con un nivel de
                realismo asombroso. <br /><br />
                Además, las funciones inteligentes de <b
                    >las Smart TV nos permiten acceder a una gran variedad de
                    aplicaciones, como servicios de streaming, juegos y
                    asistentes virtuales.</b
                >
            </p>
            <br /><br />
            <p>
                Al elegir una Smart TV para disfrutar de los Juegos Olímpicos,
                es importante considerar factores como: <br /><br />
                <b>• Tamaño:</b> Elige un tamaño que se adapte a tu espacio y distancia
                de visualización.<br /><br />

                <b>• Resolución:</b> 4K y 8K ofrecen una calidad de imagen superior,
                pero 4K es suficiente para la mayoría de los usuarios. <br /><br
                />
            </p>
            <div class="imagen">
                <div class="img-4"></div>
            </div><br /><br />
            <p>
                <b>• Sistema operativo:</b> Tizen, webOS y Google TV son los sistemas
                operativos más comunes. <br /><br />

                <b>• Tecnología de panel:</b> o OLED: Ofrece negros profundos, colores
                vibrantes y ángulos de visión amplios. o QLED: Combina la calidad
                de imagen de los LED con la gama de colores de los OLED. o Mini-LED:
                Ofrece un alto contraste y una excelente gestión de la luz. <br
                /><br />

                <b>• HDR:</b> High Dynamic Range permite una mayor gama de colores
                y un contraste más pronunciado. <br /><br />

                <b>• Tasa de refresco:</b> Una tasa de refresco más alta reduce el
                desenfoque de movimiento, ideal para deportes de acción rápida. <br
                /><br />

                <b>• Smart TV:</b> Te permite acceder a una variedad de aplicaciones
                y servicios de streaming.<br /><br />
            </p>

            <h3>Marcas recomendadas:</h3>
            <p class="marcas"><b>Samsung,  LG,  Sony,  TCL,  Hisense.</b></p>
            <h3>Consejos adicionales para elegir un televisor:</h3>
            <p>
                <b>• Considera tu presupuesto:</b> Los precios de los televisores
                varían ampliamente.<br /><br />

                <b>• Visita una tienda física:</b> Compara diferentes modelos y marcas
                antes de tomar una decisión.<br /><br />

                <b>• Lee reseñas:</b> Consulta las opiniones de otros usuarios antes
                de comprar.
            </p>
        </div>
    </body>
    <Footer />
</Layout>

<style>
    body {
        margin: 0px;
        padding: 0px;
        background-image: url("../img/ruidoBackground.png");
        background-color: gainsboro;
    }
    .articulo {
        margin: auto;
        margin-top: 1em;
        background-color: whitesmoke;
        width: 75%;
        padding: 2em;
        border-radius: 0.5em;
        line-height: auto;
    }
    body.dark .articulo {
        background-color: rgb(12, 0, 78);
        /*background-image: url("../img/ruidoBackground.png");*/
    }
    .fecha {
        display: flex;
        flex-flow: row-reverse;
        flex-direction: end;
    }
    p {
        font-weight: 500;
        line-height: 1.5em;
    }
    body.dark p {
        color: gainsboro;
    }
    h3 {
        font-weight: 900;
    }
    body.dark h3 {
        color: gainsboro;
    }
    body.dark h2 {
        color: gainsboro;
    }
    body.dark h1 {
        color: gainsboro;
    }
    .imagen {
        width: 100%;
        height: 370px;
        background-color: rgb(51, 51, 51);
    }
    .img-1 {
        width: 90%;
        height: 370px;
        background-image: url("../img/img-3/juegos1.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
    }
    .img-2 {
        width: 90%;
        height: 370px;
        background-image: url("../img/img-3/smart2.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
    }
    .img-3 {
        width: 90%;
        height: 370px;
        background-image: url("../img/img-3/smartwatch.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
    }
    .img-4 {
        width: 90%;
        height: 370px;
        background-image: url("../img/img-3/juegos2.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
    }
    .img-5 {
        width: 50%;
        height: 370px;
        background-image: url("../img/img-3/pantallas.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
    }
    .marcas{
        border:dashed;
        padding:2em;
        text-align:center;
        font-size:1.5em;
    }
    h3{
    color:darkblue;
    }
    body.dark h3{
        color: blue;
    }
    /* MENU --------------------------------------*/

    .barra {
        display: none;
        width: 100%;
        /*background-color: rgb(0, 0, 175);*/
        background-color: gainsboro;
        height: 160px;
        text-align: center;
        padding-top: 1em;
        background-image: url("../img/Logo_ES_Post.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    /*.barra img {
        max-width: 95%;
        height: 200px;
    }*/
    .nav-pop {
        visibility: hidden;
    }
    @media (max-width: 750px) {
        .nav-fija {
            display: none;
        }
        .nav-pop {
            visibility: visible;
            width: 100%;
            background-color: rgba(0, 58, 159, 0.567);
        }
        .navs {
            visibility: visible;
        }
        .barra {
            display: block;
        }
    }
</style>
