---
import Facebook from '../img/facebooklogo.png';
import Instagram from '../img/instagramlogo.png';
import Linked from '../img/linkedinlogo.png';
---

<footer class="footer">
	<div class="grupo1">
		<!--COLOCAR CALSES .CLASE* NUMERO DE CLASES IGUALES EJEMPL .CLASE*3-->
		<div class="box num1">
			<h3 class="titulo-1">
				Vendemos tecnología,<br />diseñamos alternativas<br
				/>solucionamos problemas.<br />
			</h3>
			<a href="/POLITICA DE PRIVACIDAD/politica.html"
				class="link-underline">
				<p class="politica text-warning"> Política de privacidad<br /></p>
			</a>
			<p class="texto2023">
				2023 ECONOMIC SALES DE MÉXICO, SA DE CV GROUP. <br />Empresa
				responsable con el medio ambiente incorporada en CDMX bajo el
				número 132,217.<br /> Registrada en el primer piso del edificio de
				la Cámara de Comercio, Paseo de la Reforma #42, Juárez, Ciudad de
				México.
			</p>

		</div>
		<div class="box num2">
			<h3><b>NUESTRAS REDES</b></h3>
			<div class="logos">
				<div class="minibox">
					<a href="https://www.facebook.com/EconomicSalesDeMexicoSaDeCv?locale=es_LA">
						<img class="max-face"/></a>
							<!--src="/src/img/facebooklogo.png"
							alt="logo facebook", -->
				</div>
				<div class="minibox">
					<a href="https://www.instagram.com/economicsalesmx/?igshid=MzRlODBiNWFlZA%3D%3D">
						<img class="max-insta"/></a>
				</div> <!--src="/src/img/instagramlogo.png"
							alt="logo instagram", -->
				<div class="minibox">
					<a href="https://www.linkedin.com/company/economic-sales-de-m%C3%A9xico-sa-de-cv/mycompany/?viewAsMember=true">
						 <img class="max-link"/></a>
				</div> <!--src="/src/img/	linkedinlogo.png"
							alt="logo linkedin", -->
			</div>
		</div>
		<div class="box num3">
			<figure>
				<a href="https://economicsales.com/">
					<h3 class="tituloEc">ECONOMIC SALES DE MÉXICO</h3>
				</a>
			</figure>
		</div>
	</div>
</footer>
<style>
	footer {
		position: relative;
		width: 100%;
		background-color: darkblue;
	}
	.grupo1 {
		/*display: grid;
		grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
        grid-auto-rows: 22rem;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
		margin-inline: 5%;*/
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		width: 100%;
		margin-top: 3em;
		overflow: auto;
		flex-direction: row;
		font-family: montserrat;
	
	
	}
	.grupo1 .box {
		width: 350px;
		height: 250px;
		margin: 10px;

		/*background-color: rgb(0, 0, 82);*/
	}
	.grupo1 .num1{
		padding: .5em;	
	}
	.grupo1 h3{
		font-weight: 900;
	}
	.grupo1 .num3{
		text-align: center;
		padding: .5em;

	}
	.grupo1 .num2{
		text-align: center;
		padding: .5em;
		
	}

	h3 {
		color: whitesmoke;
		font-size: 1.3em;
		font-weight: 900;
	}
	p {
		font-size: 0.65rem;
		color: whitesmoke;
	}
	.num3 a{
		text-decoration: none;
	}
	.num3 h3{
		font-size: 3em;
	}
	.num1 a{
		text-decoration: none;
		
	}
	.logos {
		width: 350px;
		height: 150px;
		margin-top: 25px;
		text-align: center;
		margin-left: 8%;
	}

	.minibox {
		width: 100px;
		float: left;
		height: 100px;
	}

	/*
	.max {
		max-width: 80px;
		height: 80px;
	}
	*/
	.max-insta{
		background-image: url(../img/instagramlogo.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 80px;
		height: 80px;
	}
	.max-link{
		background-image: url(../img/linkedinlogo.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 80px;
		height: 80px;
	}
	.max-face{
		background-image: url(../img/facebooklogo.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 80px;
		height: 80px;
	}
</style>
